.flows_Mega-Man.local.json.backup
[{"id":"9ab144d1.ba9f","type":"tab","label":"tensor flow","disabled":true,"info":""},{"id":"9164e505.7cba8","type":"tab","label":"home or not","disabled":false,"info":"this is the discription yo"},{"id":"982aa065.67e4b8","type":"tab","label":"barn lights","disabled":false,"info":""},{"id":"6e285611.d71298","type":"tab","label":"Front Steps/doors","disabled":false,"info":""},{"id":"78a5537e.b2d8b4","type":"tab","label":"good morning","disabled":false,"info":""},{"id":"fb61c2d8.d63","type":"tab","label":"leaving work","disabled":true,"info":""},{"id":"286b1096.bf92d","type":"tab","label":"bedroom motion","disabled":false,"info":""},{"id":"1e649377.bdc225","type":"tab","label":"Alexa commands","disabled":false,"info":""},{"id":"35e89e6c.dc32d2","type":"tab","label":"basement","disabled":false,"info":""},{"id":"971f0e67.c30f88","type":"tab","label":"freezer","disabled":false,"info":""},{"id":"e38dbe48.4ec758","type":"tab","label":"bonus room","disabled":false,"info":""},{"id":"9a3d8160.465428","type":"tab","label":"battery check","disabled":false,"info":""},{"id":"2f4e3055.be1688","type":"tab","label":"test","disabled":false,"info":""},{"id":"8563241e.8ab948","type":"tab","label":"mqtt","disabled":false,"info":""},{"id":"f9bc4c8a.b25f5","type":"tab","label":"eero test","disabled":false,"info":""},{"id":"16f2d4d6.d6132b","type":"tab","label":"Garage","disabled":true,"info":""},{"id":"145f77f0.74d3f8","type":"subflow","name":"ext door open","info":"","category":"","in":[],"out":[{"x":380,"y":80,"wires":[{"id":"1ee1e13c.e12a27","port":0},{"id":"ab6bd749.d2aea","port":0},{"id":"33f0a8c0.ad3b78","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"9254648a.c5d7e8","type":"subflow","name":"anyone home","info":"stops flow if no one is home","category":"","in":[{"x":460,"y":220,"wires":[{"id":"6a3d729a.31b594"}]}],"out":[{"x":720,"y":220,"wires":[{"id":"6a3d729a.31b594","port":0}]}]},{"id":"7592f570.572e1c","type":"server","name":"Home Assistant","version":1,"legacy":false,"addon":false,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":false,"cacheJson":true},{"id":"9c98dbe9.6cd83","type":"mqtt-broker","name":"","broker":"192.168.7.32","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"db189d03.8273a8","type":"api-call-service","z":"9164e505.7cba8","name":"xmas lights","server":"7592f570.572e1c","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"group.xmas_lights","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":770,"y":120,"wires":[[]]},{"id":"f164092c.1ac7b","type":"server-state-changed","z":"9164e505.7cba8","name":"anyone_home","server":"7592f570.572e1c","version":3,"entityidfilter":"group.jenn_bernie_home","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":90,"y":60,"wires":[["9696abe0.820b6","91c7818.60a898","53c7892b.9267f8"]]},{"id":"9696abe0.820b6","type":"switch","z":"9164e505.7cba8","name":"on or off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"home","vt":"str"},{"t":"eq","v":"not_home","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":320,"y":120,"wires":[["fff18bd3.9a7be8","a10d5b72.eaf798"],["d2e70bc9.ff7f28"]]},{"id":"d2e70bc9.ff7f28","type":"api-call-service","z":"9164e505.7cba8","name":"off downstairs lights","server":"7592f570.572e1c","version":3,"service_domain":"light","service":"turn_off","entityId":"group.down_stairs_lights","data":"","mergecontext":"","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":560,"y":220,"wires":[[]]},{"id":"fff18bd3.9a7be8","type":"api-current-state","z":"9164e505.7cba8","name":"sun_down?","server":"7592f570.572e1c","version":2,"outputs":2,"halt_if":"below_horizon","halt_if_type":"str","halt_if_compare":"is","entity_id":"sun.sun","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":510,"y":120,"wires":[["db189d03.8273a8","c1ae73ef.5b34f","f4855ad5.6165c"],[]]},{"id":"91b205e6.f32ea","type":"inject","z":"9164e505.7cba8","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"home","payloadType":"str","x":97.5,"y":228,"wires":[["9696abe0.820b6","91c7818.60a898"]]},{"id":"6e7394b4.17640c","type":"inject","z":"9164e505.7cba8","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"not_home","payloadType":"str","x":104.5,"y":163,"wires":[["9696abe0.820b6","91c7818.60a898"]]},{"id":"9acc89ca.ecbba8","type":"api-call-service","z":"9164e505.7cba8","name":"send text","server":"7592f570.572e1c","version":3,"service_domain":"notify","service":"mobile_app_bernie_phone","entityId":"","data":"{   \"message\": \"Jenn is home\" }","mergecontext":"","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":460,"y":440,"wires":[[]]},{"id":"668314ab.51852c","type":"server-state-changed","z":"9164e505.7cba8","name":"jenn home","server":"7592f570.572e1c","version":3,"entityidfilter":"person.jenn","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":100,"y":420,"wires":[[]]},{"id":"d108ac6f.f9319","type":"switch","z":"9164e505.7cba8","name":"on or off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"home","vt":"str"},{"t":"eq","v":"not_home","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":300,"y":460,"wires":[["9acc89ca.ecbba8"],["7901d003.e4962"]]},{"id":"558d5a70.de9b2c","type":"inject","z":"9164e505.7cba8","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"home","payloadType":"str","x":103,"y":619,"wires":[["d108ac6f.f9319"]]},{"id":"315afe37.46829a","type":"inject","z":"9164e505.7cba8","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"not_home","payloadType":"str","x":110,"y":554,"wires":[["d108ac6f.f9319"]]},{"id":"7901d003.e4962","type":"api-call-service","z":"9164e505.7cba8","name":"send text","server":"7592f570.572e1c","version":3,"service_domain":"notify","service":"mobile_app_bernie_phone","entityId":"","data":"{   \"message\": \"Jenn not home\" }","mergecontext":"","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":460,"y":491,"wires":[[]]},{"id":"d9d3c8d0.aff808","type":"server-state-changed","z":"982aa065.67e4b8","name":"barn lights","server":"7592f570.572e1c","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"group.barn","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":155,"y":40,"wires":[["f79c7e9c.480238"]]},{"id":"f79c7e9c.480238","type":"switch","z":"982aa065.67e4b8","name":"on or off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":165.5,"y":157,"wires":[["4c040bd7.e62554","6677eb09.0a88f4"],["a5d42c1f.fcda4"]]},{"id":"4c040bd7.e62554","type":"api-call-service","z":"982aa065.67e4b8","name":"led on","server":"7592f570.572e1c","version":3,"debugenabled":true,"service_domain":"zwave_js","service":"set_config_parameter","entityId":"","data":"{\"entity_id\":\"light.dead_switch\",\"value\":\"Green\",\"parameter\":\"Status Mode 2 Color\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"flow","value":"","valueType":"data"}],"queue":"none","x":370,"y":120,"wires":[["6d5c0472.472734"]]},{"id":"a5d42c1f.fcda4","type":"api-call-service","z":"982aa065.67e4b8","name":"led off","server":"7592f570.572e1c","version":3,"debugenabled":false,"service_domain":"zwave_js","service":"set_config_parameter","entityId":"","data":"{\"entity_id\":\"light.dead_switch\",\"value\":\"Off\",\"parameter\":\"Status Mode 2 Color\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"flow","value":"","valueType":"data"}],"queue":"none","x":350,"y":320,"wires":[["1010270a.d12221","6a415fd9.7cec08"]]},{"id":"9e89beb1.814eb8","type":"inject","z":"982aa065.67e4b8","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":140,"y":89,"wires":[["f79c7e9c.480238"]]},{"id":"7ab845ee.78898c","type":"inject","z":"982aa065.67e4b8","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"off","payloadType":"str","x":150,"y":223,"wires":[["f79c7e9c.480238"]]},{"id":"6cd0a3ec.6d5114","type":"api-call-service","z":"982aa065.67e4b8","name":"led blink","server":"7592f570.572e1c","version":3,"debugenabled":false,"service_domain":"zwave_js","service":"set_config_parameter","entityId":"","data":"{\"entity_id\":\"light.dead_switch\",\"value\":\"On\",\"parameter\":\"LED 2 Blink Status\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"flow","value":"","valueType":"data"}],"queue":"none","x":760,"y":100,"wires":[["8a1519ac.1bb46"]]},{"id":"1010270a.d12221","type":"api-call-service","z":"982aa065.67e4b8","name":"led stop blink","server":"7592f570.572e1c","version":3,"debugenabled":false,"service_domain":"zwave_js","service":"set_config_parameter","entityId":"","data":"{\"entity_id\":\"light.dead_switch\",\"value\":\"Disable\",\"parameter\":\"LED 2 Blink Status\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":620,"y":320,"wires":[[]]},{"id":"8a1519ac.1bb46","type":"api-call-service","z":"982aa065.67e4b8","name":"blink speed","server":"7592f570.572e1c","version":3,"debugenabled":false,"service_domain":"zwave_js","service":"set_config_parameter","entityId":"","data":"{\"entity_id\":\"light.dead_switch\",\"value\":5,\"parameter\":\"Blink Frequency\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":715,"y":179,"wires":[["6a415fd9.7cec08"]]},{"id":"6d5c0472.472734","type":"time-range-switch","z":"982aa065.67e4b8","name":"before 7:30pm?","lat":"41.75","lon":"-72.32491","startTime":"06:00","endTime":"19:30","startOffset":0,"endOffset":"","x":520,"y":80,"wires":[["1010270a.d12221"],["6cd0a3ec.6d5114"]]},{"id":"483c9ce4.0e160c","type":"api-call-service","z":"78a5537e.b2d8b4","name":"on kit lights","server":"7592f570.572e1c","version":3,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.kitchen_light","data":"{\"transition\":2,\"brightness_pct\":10}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":450,"y":60,"wires":[[]]},{"id":"888d24f8.dae4c8","type":"inject","z":"78a5537e.b2d8b4","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":156,"y":83,"wires":[["483c9ce4.0e160c"]]},{"id":"af66140a.dea7d8","type":"inject","z":"78a5537e.b2d8b4","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"off","payloadType":"str","x":154,"y":126,"wires":[["c94e759a.a7fb78"]]},{"id":"c94e759a.a7fb78","type":"api-call-service","z":"78a5537e.b2d8b4","name":"off kit lights","server":"7592f570.572e1c","version":3,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.kitchen_light","data":"{\"transition\":2}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":450,"y":120,"wires":[[]]},{"id":"f10551d4.d94","type":"switch","z":"78a5537e.b2d8b4","name":"home or not","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"home","vt":"str"},{"t":"eq","v":"not_home","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":461,"y":246,"wires":[["51f113e3.32d794"],["a9e715ad.290628"]]},{"id":"fd24bbd8.14054","type":"server-state-changed","z":"78a5537e.b2d8b4","name":"bernie home","server":"7592f570.572e1c","version":3,"entityidfilter":"device_tracker.bernies_iphone","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":144,"y":235,"wires":[["f10551d4.d94"]]},{"id":"cd59083b.fa2a8","type":"inject","z":"78a5537e.b2d8b4","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"home","payloadType":"str","x":150,"y":280,"wires":[["f10551d4.d94"]]},{"id":"836dc665.8e22","type":"inject","z":"78a5537e.b2d8b4","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"not_home","payloadType":"str","x":156,"y":178,"wires":[["f10551d4.d94"]]},{"id":"a9e715ad.290628","type":"time-range-switch","z":"78a5537e.b2d8b4","name":"between 4 and 7","lat":"","lon":"","startTime":"4:00","endTime":"7:00","startOffset":0,"endOffset":"","x":467,"y":187,"wires":[["c94e759a.a7fb78"],[]]},{"id":"de4c977e.da50c","type":"api-call-service","z":"982aa065.67e4b8","name":"send bernie text","server":"7592f570.572e1c","version":3,"service_domain":"notify","service":"mobile_app_bernie_phone","entityId":"","data":"{   \"message\": \"barn lights still on\" }","mergecontext":"","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":1120,"y":120,"wires":[[]]},{"id":"2487fd8c.97fcba","type":"server-state-changed","z":"78a5537e.b2d8b4","name":"Travel time from daycare","server":"7592f570.572e1c","version":3,"entityidfilter":"sensor.daycare_to_work","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":142,"y":349,"wires":[[]]},{"id":"87c92f60.ea1528","type":"template","z":"78a5537e.b2d8b4","name":"","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{ \"data\": { \"message\": \"travel time to work from daycare  {{payload}}\"}} ","output":"str","x":446,"y":349,"wires":[["d3cd6888.36e8c8"]]},{"id":"d3cd6888.36e8c8","type":"api-call-service","z":"78a5537e.b2d8b4","name":"send text","server":"7592f570.572e1c","version":3,"service_domain":"notify","service":"mobile_app_bernie_phone","entityId":"","data":"{}","mergecontext":"","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":620,"y":340,"wires":[[]]},{"id":"c5a7c001.b9c0e8","type":"time-range-switch","z":"78a5537e.b2d8b4","name":"morning?","lat":"","lon":"","startTime":"7:00","endTime":"8:00","startOffset":0,"endOffset":"","x":194,"y":477,"wires":[["a31f4d23.0bf658"],[]]},{"id":"a31f4d23.0bf658","type":"weekday","z":"78a5537e.b2d8b4","name":"weekday?","sun":false,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":false,"x":441,"y":470,"wires":[["c091b173.199468"],[]]},{"id":"2127a9aa.427d5e","type":"server-state-changed","z":"fb61c2d8.d63","name":"Travel time from work","server":"7592f570.572e1c","version":3,"entityidfilter":"sensor.work_to_home","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":188,"y":104,"wires":[["7ca273c6.caa3b4"]]},{"id":"81dbaf99.7afb88","type":"debug","z":"fb61c2d8.d63","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":638,"y":128,"wires":[]},{"id":"9418e830.2d6d8","type":"template","z":"fb61c2d8.d63","name":"","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{ \"data\": { \"message\": \"travel time from work to home  {{payload}}\"}} ","output":"str","x":433,"y":128,"wires":[["81dbaf99.7afb88","ed223e2e.d54718"]]},{"id":"ed223e2e.d54718","type":"api-call-service","z":"fb61c2d8.d63","name":"send text","server":"7592f570.572e1c","version":3,"service_domain":"notify","service":"mobile_app_bernie_phone","entityId":"","data":"{}","mergecontext":"","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":650,"y":181,"wires":[[]]},{"id":"f0e8e7c6.78ccd8","type":"weekday","z":"fb61c2d8.d63","name":"weekday?","sun":false,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":false,"x":410,"y":260,"wires":[["ca8930c0.9b0e28"],[]]},{"id":"795f9c15.90d6cc","type":"time-range-switch","z":"fb61c2d8.d63","name":"end of day?","lat":"","lon":"","startTime":"17:00","endTime":"17:40","startOffset":0,"endOffset":"","x":191,"y":256,"wires":[["f0e8e7c6.78ccd8"],[]]},{"id":"7ca273c6.caa3b4","type":"switch","z":"fb61c2d8.d63","name":"delay?","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"27","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":194,"y":182,"wires":[["795f9c15.90d6cc"]]},{"id":"5288c626.d79fe","type":"switch","z":"78a5537e.b2d8b4","name":"delay?","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"33","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":190,"y":440,"wires":[["c5a7c001.b9c0e8"]]},{"id":"4b7b4ea8.6ef9a8","type":"inject","z":"982aa065.67e4b8","name":"","repeat":"","crontab":"31 19 * * *","once":false,"onceDelay":0.1,"topic":"19:31","payload":"","payloadType":"date","x":150.5,"y":390,"wires":[["5eaabfdd.fe25b8"]]},{"id":"5eaabfdd.fe25b8","type":"api-current-state","z":"982aa065.67e4b8","name":"","server":"7592f570.572e1c","version":2,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"group.barn","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":151.5,"y":309,"wires":[["f79c7e9c.480238"]]},{"id":"e539d7b0.3ba368","type":"api-call-service","z":"982aa065.67e4b8","name":"send jenn text","server":"7592f570.572e1c","version":3,"debugenabled":true,"service_domain":"notify","service":"mobile_app_jenns_iphone","entityId":"","data":"{   \"message\": \"barn lights still on\" }","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":1120,"y":180,"wires":[[]]},{"id":"2043eac7.34ad7e","type":"inject","z":"78a5537e.b2d8b4","name":"","repeat":"","crontab":"10 05 * * 1,3,5","once":false,"onceDelay":0.1,"topic":"05:10","payload":"","payloadType":"date","x":170,"y":20,"wires":[[]]},{"id":"ca8930c0.9b0e28","type":"delay","z":"fb61c2d8.d63","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"15","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":422.5,"y":187,"wires":[["9418e830.2d6d8"]]},{"id":"c091b173.199468","type":"delay","z":"78a5537e.b2d8b4","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"15","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":444,"y":412,"wires":[["87c92f60.ea1528"]]},{"id":"c4c7c2aa.c4db08","type":"server-state-changed","z":"286b1096.bf92d","name":"motion","server":"7592f570.572e1c","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.master_bedroom_motion","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":70,"y":300,"wires":[["898e2017.d3e84"]]},{"id":"eddadf9c.8af1c8","type":"switch","z":"286b1096.bf92d","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":530,"y":280,"wires":[["8b1847a6.a774","662f5748.b3db5"],["662f5748.b3db5"]]},{"id":"cee4d588.2191f8","type":"trigger","z":"286b1096.bf92d","name":"","op1":"","op2":"off","op1type":"nul","op2type":"str","duration":"5","extend":false,"units":"min","reset":"8","bytopic":"all","outputs":1,"x":890,"y":380,"wires":[["4719341.1b52f4c"]]},{"id":"b87d559d.dcf75","type":"api-call-service","z":"286b1096.bf92d","name":"lamp on red","server":"7592f570.572e1c","version":3,"service_domain":"light","service":"turn_on","entityId":"light.lamp","data":"{\"color_name\":\"red\",\"brightness_pct\":\"10\",\"transition\":\"2\"}","mergecontext":"","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":890,"y":320,"wires":[[]]},{"id":"4719341.1b52f4c","type":"api-call-service","z":"286b1096.bf92d","name":"lamp off","server":"7592f570.572e1c","version":3,"service_domain":"light","service":"turn_off","entityId":"light.lamp","data":"","mergecontext":"","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":1080,"y":400,"wires":[[]]},{"id":"4f9ddea8.84df6","type":"time-range-switch","z":"286b1096.bf92d","name":"","lat":"41.74","lon":"-72.32","startTime":"sunset","endTime":"sunrise","startOffset":0,"endOffset":0,"x":380,"y":300,"wires":[["eddadf9c.8af1c8"],[]]},{"id":"fde530b2.31b8d8","type":"inject","z":"286b1096.bf92d","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":470,"y":200,"wires":[["4f9ddea8.84df6"]]},{"id":"e9225e5d.ed1978","type":"inject","z":"286b1096.bf92d","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"off","payloadType":"str","x":470,"y":160,"wires":[["eddadf9c.8af1c8"]]},{"id":"16446e58.ccb2da","type":"template","z":"78a5537e.b2d8b4","name":"","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{ \"data\": { \"message\": \"travel time to work {{payload}}\"}} ","output":"str","x":449,"y":573,"wires":[["5e38d931.d1b178"]]},{"id":"5e38d931.d1b178","type":"api-call-service","z":"78a5537e.b2d8b4","name":"send text","server":"7592f570.572e1c","version":3,"service_domain":"notify","service":"mobile_app_jenns_iphone","entityId":"","data":"{}","mergecontext":"","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":646,"y":572,"wires":[[]]},{"id":"5c576070.379d7","type":"delay","z":"78a5537e.b2d8b4","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"15","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":447,"y":636,"wires":[["16446e58.ccb2da"]]},{"id":"a6cd0e1d.85489","type":"weekday","z":"78a5537e.b2d8b4","name":"weekday?","sun":false,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":false,"x":444,"y":694,"wires":[["5c576070.379d7"],[]]},{"id":"26b6f84.74fa208","type":"time-range-switch","z":"78a5537e.b2d8b4","name":"morning?","lat":"","lon":"","startTime":"6:30","endTime":"7:30","startOffset":0,"endOffset":"","x":197,"y":701,"wires":[["a6cd0e1d.85489"],[]]},{"id":"52401036.d021a8","type":"switch","z":"78a5537e.b2d8b4","name":"delay?","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"32","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":190,"y":660,"wires":[["26b6f84.74fa208"]]},{"id":"8fa33383.bbca","type":"server-state-changed","z":"78a5537e.b2d8b4","name":"jenn travel to work","server":"7592f570.572e1c","version":3,"entityidfilter":"sensor.jenn_home_to_work","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":196,"y":568,"wires":[[]]},{"id":"630ca6b3.d4ba","type":"switch","z":"1e649377.bdc225","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":870,"y":160,"wires":[["be1c5f93.e43c8"],["557ed1d4.a5b94"]]},{"id":"557ed1d4.a5b94","type":"api-call-service","z":"1e649377.bdc225","name":"light off","server":"7592f570.572e1c","version":3,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.cabinet_light","data":"{\"transition\":1}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":1020,"y":180,"wires":[[]]},{"id":"be1c5f93.e43c8","type":"api-call-service","z":"1e649377.bdc225","name":"light on","server":"7592f570.572e1c","version":3,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.cabinet_light","data":"{\"brightness\":\"{{bri}}\",\"transition\":1}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":1020,"y":120,"wires":[[]]},{"id":"506ddade.43ecf4","type":"switch","z":"1e649377.bdc225","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":870,"y":380,"wires":[["c7f0eb84.38f71"],["2906fd63.d17cca"]]},{"id":"2906fd63.d17cca","type":"api-call-service","z":"1e649377.bdc225","name":"light off","server":"7592f570.572e1c","version":3,"service_domain":"light","service":"turn_off","entityId":"light.tv_light","data":"{\"transition\":1}","mergecontext":"","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":1020,"y":420,"wires":[[]]},{"id":"c7f0eb84.38f71","type":"api-call-service","z":"1e649377.bdc225","name":"light on","server":"7592f570.572e1c","version":3,"service_domain":"light","service":"turn_on","entityId":"light.tv_light","data":"{\"brightness\":\"{{bri}}\",\"transition\":1}","mergecontext":"","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":1020,"y":360,"wires":[[]]},{"id":"8b1847a6.a774","type":"time-range-switch","z":"286b1096.bf92d","name":"","lat":"41.74","lon":"-72.32","startTime":"sunset","endTime":"21:30","startOffset":0,"endOffset":0,"x":700,"y":160,"wires":[["6073a189.ccb468"],["b87d559d.dcf75","16ad2e51.834892"]]},{"id":"6073a189.ccb468","type":"api-call-service","z":"286b1096.bf92d","name":"lamp on white","server":"7592f570.572e1c","version":3,"service_domain":"light","service":"turn_on","entityId":"light.lamp","data":"{\"color_name\":\"white\",\"brightness_pct\":\"100\",\"transition\":\"2\"}","mergecontext":"","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":1100,"y":120,"wires":[[]]},{"id":"b2951d91.f1e508","type":"api-call-service","z":"982aa065.67e4b8","name":"tell us the lights are on","server":"7592f570.572e1c","version":3,"service_domain":"notify","service":"alexa_media","entityId":"","data":"{\"message\":\"you left the barn lights on\",\"data\":{\"type\":\"tts\",\"method\":\"all\"},\"target\":\"media_player.bernard_s_sonos_one_second_edition\"}","mergecontext":"","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":1140,"y":60,"wires":[[]]},{"id":"6a415fd9.7cec08","type":"trigger","z":"982aa065.67e4b8","name":"","op1":"on","op2":"on","op1type":"str","op2type":"str","duration":"-15","extend":false,"units":"min","reset":"off","bytopic":"all","topic":"topic","outputs":1,"x":746,"y":253,"wires":[["c2431ae.1bc3b68"]]},{"id":"16ad2e51.834892","type":"delay","z":"286b1096.bf92d","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"18","rateUnits":"hour","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":900,"y":280,"wires":[["968ea753.eef6f"]]},{"id":"968ea753.eef6f","type":"delay","z":"286b1096.bf92d","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":900,"y":220,"wires":[["640d8800.90c958","1de20a05.950f7e"]]},{"id":"662f5748.b3db5","type":"time-range-switch","z":"286b1096.bf92d","name":"","lat":"41.74","lon":"-72.32","startTime":"sunset","endTime":"21:30","startOffset":"10","endOffset":0,"x":700,"y":400,"wires":[["cee4d588.2191f8"],["56e91359.07d574"]]},{"id":"56e91359.07d574","type":"trigger","z":"286b1096.bf92d","name":"","op1":"","op2":"off","op1type":"nul","op2type":"str","duration":"1","extend":false,"units":"min","reset":"8","bytopic":"all","outputs":1,"x":890,"y":420,"wires":[["4719341.1b52f4c"]]},{"id":"640d8800.90c958","type":"api-call-service","z":"286b1096.bf92d","name":"low motion sen","server":"7592f570.572e1c","version":3,"debugenabled":false,"service_domain":"zwave_js","service":"set_config_parameter","entityId":"","data":"{\"device_id\":\"edb41a612a3f33607561c99b130f65b4\",\"parameter\":\"PIR Sensitivity\",\"value\":1}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":1100,"y":220,"wires":[[]]},{"id":"a614a854.6452c8","type":"api-call-service","z":"286b1096.bf92d","name":"high motion sen","server":"7592f570.572e1c","version":3,"debugenabled":false,"service_domain":"zwave_js","service":"set_config_parameter","entityId":"","data":"{\"device_id\":\"edb41a612a3f33607561c99b130f65b4\",\"parameter\":\"PIR Sensitivity\",\"value\":5}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":900,"y":40,"wires":[[]]},{"id":"d09993db.76a2c","type":"bigtimer","z":"286b1096.bf92d","outtopic":"","outpayload1":"","outpayload2":"","name":"sunset","comment":"","lat":"41.74","lon":"-72.32","starttime":"1335","endtime":1425,"starttime2":"5004","endtime2":0,"startoff":"0","endoff":0,"offs":0,"outtext1":"on","outtext2":"","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"repeat":false,"atstart":true,"odd":false,"even":false,"x":710,"y":40,"wires":[[],["b2dee47d.6c02e8","a614a854.6452c8"],[]]},{"id":"b2dee47d.6c02e8","type":"debug","z":"286b1096.bf92d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":870,"y":100,"wires":[]},{"id":"a9d5666c.6f2d1","type":"api-call-service","z":"2f4e3055.be1688","name":"tv lights","server":"7592f570.572e1c","version":3,"service_domain":"","service":"","entityId":"","data":"{}","mergecontext":"","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":680,"y":140,"wires":[[]]},{"id":"9f3949a8.7e2b9","type":"inject","z":"2f4e3055.be1688","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":110,"y":60,"wires":[["32eb80f1.d07e7"]]},{"id":"ce75294e.412038","type":"inject","z":"2f4e3055.be1688","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"off","payloadType":"str","x":110,"y":140,"wires":[["32eb80f1.d07e7"]]},{"id":"4bf6d9bc.9ba798","type":"debug","z":"2f4e3055.be1688","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":710,"y":240,"wires":[]},{"id":"32eb80f1.d07e7","type":"template","z":"2f4e3055.be1688","name":"","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n  \"data\": {\n     \"entity_id\": \"light.tv_light\"\n  },\n  \"service\": \"turn_{{payload}}\",\n  \"domain\": \"light\"\n}","output":"str","x":300,"y":140,"wires":[["7916e55f.74baa4"]]},{"id":"1d5e4ebf.829d99","type":"server-state-changed","z":"2f4e3055.be1688","name":"switch","server":"7592f570.572e1c","version":3,"entityidfilter":"input_boolean.flow_off","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":430,"y":40,"wires":[["29900f3b.1eb9b"]]},{"id":"7916e55f.74baa4","type":"traffic","z":"2f4e3055.be1688","name":"","property_allow":"payload","filter_allow":"go","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"stop","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":true,"differ":false,"x":510,"y":140,"wires":[["a9d5666c.6f2d1","4bf6d9bc.9ba798"]]},{"id":"29900f3b.1eb9b","type":"change","z":"2f4e3055.be1688","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"on","fromt":"str","to":"go","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"off","fromt":"str","to":"stop","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":40,"wires":[["7916e55f.74baa4","ecbdb211.916158"]]},{"id":"6a26bed5.09d64","type":"server-state-changed","z":"35e89e6c.dc32d2","name":"basement door state","server":"7592f570.572e1c","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.basement_door_state","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":110,"y":100,"wires":[["4b3af637.54052","46e3ea7ec0db1397"]]},{"id":"8e4774a9.df27d","type":"inject","z":"35e89e6c.dc32d2","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Open","payloadType":"str","x":70,"y":20,"wires":[["4b3af637.54052"]]},{"id":"da996082.f86bb8","type":"inject","z":"35e89e6c.dc32d2","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Closed","payloadType":"str","x":70,"y":40,"wires":[["4b3af637.54052"]]},{"id":"31214263.c780ae","type":"api-call-service","z":"35e89e6c.dc32d2","name":"basement light off","server":"7592f570.572e1c","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.basement_light","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":810,"y":260,"wires":[[]]},{"id":"e08ff7f7.611328","type":"api-call-service","z":"35e89e6c.dc32d2","name":"basement light on","server":"7592f570.572e1c","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.basement_light","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":810,"y":200,"wires":[[]]},{"id":"24c9b375.20f684","type":"switch","z":"35e89e6c.dc32d2","name":"","property":"payload","propertyType":"msg","rules":[{"t":"regex","v":"Open|on","vt":"str","case":false},{"t":"regex","v":"Closed|off","vt":"str","case":false}],"checkall":"true","repair":false,"outputs":2,"x":410,"y":120,"wires":[["e08ff7f7.611328","d47f50e9.55d178"],["cd401f1.da1236"]]},{"id":"d47f50e9.55d178","type":"trigger","z":"35e89e6c.dc32d2","name":"","op1":"","op2":"Closed","op1type":"nul","op2type":"str","duration":"15","extend":true,"units":"min","reset":"8","bytopic":"all","topic":"topic","outputs":1,"x":410,"y":180,"wires":[["cd401f1.da1236"]]},{"id":"4b3af637.54052","type":"delay","z":"35e89e6c.dc32d2","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":400,"y":60,"wires":[["24c9b375.20f684"]]},{"id":"aaf25c54.ec447","type":"comment","z":"35e89e6c.dc32d2","name":"door open or close","info":"if door is closed within 15 seconds of opening,\nkeep the light on for a little while","x":410,"y":20,"wires":[]},{"id":"239c9645.a838c2","type":"server-state-changed","z":"35e89e6c.dc32d2","name":"basement motion","server":"7592f570.572e1c","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.basement_sensor","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":120,"y":240,"wires":[["3fa296f1.e90b72","d47f50e9.55d178","beac25d8.59ef18"]]},{"id":"3fa296f1.e90b72","type":"trigger","z":"35e89e6c.dc32d2","name":"","op1":"","op2":"off","op1type":"nul","op2type":"str","duration":"15","extend":true,"units":"min","reset":"8","bytopic":"all","topic":"topic","outputs":1,"x":330,"y":340,"wires":[["cd401f1.da1236"]]},{"id":"4f39009a.a04ef8","type":"server-state-changed","z":"35e89e6c.dc32d2","name":"light turned on","server":"7592f570.572e1c","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"switch.basement_light","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":120,"y":360,"wires":[["3fa296f1.e90b72"],[]]},{"id":"c375f8b2.0c263","type":"comment","z":"35e89e6c.dc32d2","name":"motion in basement if people are home","info":"turn light on for 10 minute if motion\nturns off 5 minute hold for door sensor too","x":410,"y":240,"wires":[]},{"id":"6821d20e.50b2bc","type":"comment","z":"35e89e6c.dc32d2","name":"basement humity too high","info":"","x":270,"y":420,"wires":[]},{"id":"bd4195a6.0fce3","type":"poll-state","z":"35e89e6c.dc32d2","name":"basement humidity","server":"7592f570.572e1c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"50000","updateIntervalUnits":"seconds","outputinitially":false,"outputonchanged":false,"entity_id":"sensor.basement_sensor_humidity","state_type":"str","halt_if":"60","halt_if_type":"str","halt_if_compare":"is","outputs":2,"x":210,"y":480,"wires":[["564f2658.3d083"],[]]},{"id":"564f2658.3d083","type":"api-call-service","z":"35e89e6c.dc32d2","name":"send bernie text","server":"7592f570.572e1c","version":3,"service_domain":"notify","service":"mobile_app_bernie_phone","entityId":"","data":"{   \"message\": \"basement humity high\" }","mergecontext":"","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":400,"y":480,"wires":[[]]},{"id":"1a250c8b.073f63","type":"exec","z":"1e649377.bdc225","command":"open -a safari https://my.arlo.com/#/cameras","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1070,"y":680,"wires":[[],[],[]]},{"id":"a60cae94.9a995","type":"api-call-service","z":"1e649377.bdc225","name":"turn on mac mini","server":"7592f570.572e1c","version":3,"service_domain":"remote","service":"turn_on","entityId":"remote.harmony_hub","data":"{\"activity\":\"mac mini\"}","mergecontext":"","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":990,"y":720,"wires":[[]]},{"id":"7b71f3ed.91654c","type":"switch","z":"1e649377.bdc225","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":730,"y":720,"wires":[["a60cae94.9a995","1a250c8b.073f63"],["a292aae9.6ffa3","a3c086e8.1eabc8"]]},{"id":"a292aae9.6ffa3","type":"exec","z":"1e649377.bdc225","command":"osascript -e 'quit app \"Safari\"'","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1030,"y":780,"wires":[[],[],[]]},{"id":"a3c086e8.1eabc8","type":"api-call-service","z":"1e649377.bdc225","name":"turn off mac mini","server":"7592f570.572e1c","version":3,"service_domain":"remote","service":"turn_off","entityId":"remote.harmony_hub","data":"{\"activity\":\"mac mini\"}","mergecontext":"","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":990,"y":820,"wires":[[]]},{"id":"8b1b66d1.3b14c8","type":"poll-state","z":"2f4e3055.be1688","name":"","server":"7592f570.572e1c","version":1,"updateinterval":"1000","updateIntervalUnits":"seconds","outputinitially":false,"outputonchanged":false,"entity_id":"person.guest","state_type":"str","halt_if":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":260,"y":220,"wires":[[]]},{"id":"9f65757b.b5aed","type":"switch","z":"1e649377.bdc225","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1210,"y":260,"wires":[["853ccbfa.47bf4"],["56820167.27ed68"]]},{"id":"56820167.27ed68","type":"api-call-service","z":"1e649377.bdc225","name":"light off","server":"7592f570.572e1c","version":3,"service_domain":"light","service":"turn_off","entityId":"light.homeseer_hs_wd200_wall_dimmer_level_2","data":"{\"transition\":1}","mergecontext":"","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":1260,"y":300,"wires":[[]]},{"id":"853ccbfa.47bf4","type":"api-call-service","z":"1e649377.bdc225","name":"light on","server":"7592f570.572e1c","version":3,"service_domain":"light","service":"turn_on","entityId":"light.homeseer_hs_wd200_wall_dimmer_level_2","data":"{\"brightness\":\"{{bri}}\",\"transition\":1}","mergecontext":"","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":1260,"y":220,"wires":[[]]},{"id":"5dd710f5.bb3e6","type":"api-call-service","z":"1e649377.bdc225","name":"light off","server":"7592f570.572e1c","version":3,"service_domain":"light","service":"turn_off","entityId":"group.down_stairs_lights","data":"{\"transition\":1}","mergecontext":"","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":1020,"y":520,"wires":[[]]},{"id":"a7d088e.4720ef8","type":"switch","z":"1e649377.bdc225","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":870,"y":500,"wires":[["f7ee2a73.0941c"],["5dd710f5.bb3e6","5cce2cb4.fc9c94"]]},{"id":"f7ee2a73.0941c","type":"api-call-service","z":"1e649377.bdc225","name":"light on","server":"7592f570.572e1c","version":3,"service_domain":"light","service":"turn_on","entityId":"group.down_stairs_lights","data":"{\"brightness\":\"{{bri}}\",\"transition\":1}","mergecontext":"","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":1020,"y":480,"wires":[[]]},{"id":"3a97e2be.0d6d0e","type":"template","z":"2f4e3055.be1688","name":"","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n  \"data\": {\n     \"brightness\": \"{{bri}}\",\n     \"entity_id\": \"light.tv_light\"\n  },\n  \"service\": \"turn_{{payload}}\",\n  \"domain\": \"light\"\n}","output":"str","x":340,"y":320,"wires":[["3789bcf5.183844"]]},{"id":"3789bcf5.183844","type":"api-call-service","z":"2f4e3055.be1688","name":"light on","server":"7592f570.572e1c","version":3,"service_domain":"","service":"","entityId":"","data":"{}","mergecontext":"","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":540,"y":320,"wires":[[]]},{"id":"1c6dcbcc.01d9d4","type":"debug","z":"2f4e3055.be1688","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":290,"y":660,"wires":[]},{"id":"e0cdd9b4.b84fe8","type":"comment","z":"2f4e3055.be1688","name":"example of template figuring out if Alexa command is \"on\" or \"off\"","info":"The brightness_pct screws up the \"off\" \ncommand it seems\n","x":320,"y":280,"wires":[]},{"id":"a9965216.fa9f98","type":"mqtt out","z":"8563241e.8ab948","name":"","topic":"test","qos":"2","retain":"","broker":"9c98dbe9.6cd83","x":330,"y":100,"wires":[]},{"id":"f3cc0397.920b88","type":"inject","z":"8563241e.8ab948","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"test","payload":"balls","payloadType":"str","x":130,"y":100,"wires":[["a9965216.fa9f98"]]},{"id":"7d9dc2fa.2e7cbc","type":"mqtt in","z":"8563241e.8ab948","name":"","topic":"shellies/#","qos":"2","datatype":"auto","broker":"9c98dbe9.6cd83","x":540,"y":60,"wires":[["54b56727.008e28"]]},{"id":"54b56727.008e28","type":"debug","z":"8563241e.8ab948","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":730,"y":100,"wires":[]},{"id":"64029ce4.ba46b4","type":"mqtt in","z":"8563241e.8ab948","name":"","topic":"shellies/shellyht-B8917F/#","qos":"2","datatype":"auto","broker":"9c98dbe9.6cd83","x":150,"y":220,"wires":[["78038d34.92f0fc"]]},{"id":"fe670072.fc9f2","type":"debug","z":"8563241e.8ab948","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":490,"y":340,"wires":[]},{"id":"beac25d8.59ef18","type":"traffic","z":"35e89e6c.dc32d2","name":"","property_allow":"payload","filter_allow":"^home$","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"not.*","ignore_case_stop":true,"negate_stop":false,"send_stop":false,"default_start":true,"differ":false,"x":330,"y":280,"wires":[["e08ff7f7.611328"]]},{"id":"6730e8c0.b83208","type":"server-state-changed","z":"35e89e6c.dc32d2","name":"anyone_home","server":"7592f570.572e1c","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"group.jenn_bernie_home","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":130,"y":300,"wires":[["beac25d8.59ef18"]]},{"id":"ecbdb211.916158","type":"debug","z":"2f4e3055.be1688","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":790,"y":80,"wires":[]},{"id":"826287b6.a3bf18","type":"server-state-changed","z":"9254648a.c5d7e8","name":"anyone_home","server":"7592f570.572e1c","version":3,"entityidfilter":"group.jenn_bernie_home","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":590,"y":160,"wires":[["6a3d729a.31b594"]]},{"id":"6a3d729a.31b594","type":"traffic","z":"9254648a.c5d7e8","name":"","property_allow":"payload","filter_allow":"^home$","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"not.*","ignore_case_stop":true,"negate_stop":false,"send_stop":false,"default_start":true,"differ":false,"x":590,"y":220,"wires":[[]]},{"id":"466dff78.b7dd98","type":"subflow:9254648a.c5d7e8","z":"78a5537e.b2d8b4","name":"","x":380,"y":20,"wires":[["483c9ce4.0e160c"]]},{"id":"a10d5b72.eaf798","type":"api-current-state","z":"9164e505.7cba8","name":"dark out?","server":"7592f570.572e1c","version":2,"outputs":2,"halt_if":"6","halt_if_type":"num","halt_if_compare":"is","entity_id":"sensor.aeotec_zw100_multisensor_6_luminance","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":520,"y":180,"wires":[["db189d03.8273a8","c1ae73ef.5b34f","f4855ad5.6165c"],[]]},{"id":"6305f8f3.8afb9","type":"server-state-changed","z":"286b1096.bf92d","name":"switch","server":"7592f570.572e1c","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.flow_off","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":70,"y":140,"wires":[["a2fe7166.ea5048","17774b126f013f81"]]},{"id":"a2fe7166.ea5048","type":"change","z":"286b1096.bf92d","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"on","fromt":"str","to":"go","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"off","fromt":"str","to":"stop","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":200,"y":180,"wires":[["898e2017.d3e84","17774b126f013f81"]]},{"id":"898e2017.d3e84","type":"traffic","z":"286b1096.bf92d","name":"","property_allow":"payload","filter_allow":"go","ignore_case_allow":true,"negate_allow":false,"send_allow":true,"property_stop":"payload","filter_stop":"stop","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":true,"differ":false,"x":210,"y":240,"wires":[["4f9ddea8.84df6","8f20fa94.af4658"]]},{"id":"a703c861.b21b98","type":"mqtt in","z":"8563241e.8ab948","name":"","topic":"shellies/shellyswitch25-BA7D6A/temperature","qos":"2","broker":"9c98dbe9.6cd83","x":210,"y":340,"wires":[["fe670072.fc9f2"]]},{"id":"c5ce16a5.3684e","type":"debug","z":"8563241e.8ab948","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":490,"y":280,"wires":[]},{"id":"3450e6be.af1622","type":"mqtt in","z":"8563241e.8ab948","name":"","topic":"shellies/shellyswitch25-BA7D6A/relay/0/energy","qos":"2","datatype":"auto","broker":"9c98dbe9.6cd83","x":200,"y":280,"wires":[["c5ce16a5.3684e"]]},{"id":"78038d34.92f0fc","type":"debug","z":"8563241e.8ab948","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":530,"y":220,"wires":[]},{"id":"ee930aae.e92a2","type":"mqtt in","z":"8563241e.8ab948","name":"","topic":"test","qos":"2","datatype":"auto","broker":"9c98dbe9.6cd83","x":510,"y":120,"wires":[["54b56727.008e28"]]},{"id":"5e181684.5a351","type":"inject","z":"1e649377.bdc225","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":570,"y":680,"wires":[["7b71f3ed.91654c"]]},{"id":"aaadd21a.a5167","type":"inject","z":"1e649377.bdc225","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"off","payloadType":"str","x":570,"y":780,"wires":[["7b71f3ed.91654c"]]},{"id":"4fa29198.21efb","type":"amazon-echo-hub","z":"1e649377.bdc225","port":"80","processinput":"0","discovery":true,"x":230,"y":380,"wires":[["da317556.87869","8a5944ac.e07808","fea3edeb.a06a5","5e9b0d5b.31fc8c","12d54501.d64cf3","bd66e882.51f4c8","a185dbf9.b346b","5a852852.eae75","3f8c8552.9a2ee2","20102007.72429","ff3bea50.62258","624fd3a.8ec462c"]]},{"id":"da317556.87869","type":"amazon-echo-device","z":"1e649377.bdc225","name":"tv light","topic":"","x":750,"y":380,"wires":[["506ddade.43ecf4"]]},{"id":"fea3edeb.a06a5","type":"amazon-echo-device","z":"1e649377.bdc225","name":"cabinet light","topic":"","x":730,"y":160,"wires":[["630ca6b3.d4ba"]]},{"id":"8a5944ac.e07808","type":"amazon-echo-device","z":"1e649377.bdc225","name":"kitchen light","topic":"","x":730,"y":260,"wires":[["29d6a011.2c4228"]]},{"id":"5e9b0d5b.31fc8c","type":"amazon-echo-device","z":"1e649377.bdc225","name":"all lights","topic":"","x":740,"y":500,"wires":[["a7d088e.4720ef8"]]},{"id":"77496854.2698c8","type":"amazon-echo-device","z":"1e649377.bdc225","name":"Callie","topic":"","x":570,"y":720,"wires":[["7b71f3ed.91654c"]]},{"id":"87b43874.89671","type":"comment","z":"6e285611.d71298","name":"turn on tree when all lights off","info":"","x":180,"y":60,"wires":[]},{"id":"80fb44c4.d2f038","type":"api-call-service","z":"6e285611.d71298","name":"tp plug2","server":"7592f570.572e1c","version":3,"service_domain":"switch","service":"turn_on","entityId":"switch.tpplug2","data":"","mergecontext":"","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":680,"y":140,"wires":[[]]},{"id":"bef3e063.b68cb","type":"api-call-service","z":"6e285611.d71298","name":"tp plug2","server":"7592f570.572e1c","version":3,"service_domain":"switch","service":"turn_off","entityId":"switch.tpplug2","data":"","mergecontext":"","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":680,"y":200,"wires":[[]]},{"id":"f1d7c20b.783358","type":"trigger","z":"6e285611.d71298","name":"","op1":"","op2":"Closed","op1type":"nul","op2type":"str","duration":"10","extend":false,"units":"min","reset":"8","bytopic":"all","outputs":1,"x":510,"y":200,"wires":[["bef3e063.b68cb"]]},{"id":"5c9b86.e4749c7c","type":"server-state-changed","z":"6e285611.d71298","name":"all lights group","server":"7592f570.572e1c","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"group.down_stairs_lights","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":120,"y":160,"wires":[["520b2068.f55f08","8c786ae9.c3013"],[]]},{"id":"520b2068.f55f08","type":"time-range-switch","z":"6e285611.d71298","name":"","lat":"41.74","lon":"-72.32","startTime":"sunset","endTime":"sunrise","startOffset":0,"endOffset":0,"x":320,"y":160,"wires":[["f1d7c20b.783358","5a2d4962.2b4228","e0999e3f.1ac6f","bd5f7626.d6095","58ed8e238715c224"],[]]},{"id":"3349d8ac.0a511","type":"comment","z":"982aa065.67e4b8","name":"blink switch if barn lights still on at night","info":"","x":510,"y":40,"wires":[]},{"id":"84526317.de6d9","type":"comment","z":"982aa065.67e4b8","name":"control patic lights from aisle switches","info":"keep north patic light on for 10 minutes to fill up the water thing","x":470,"y":440,"wires":[]},{"id":"e2b66635.771d1","type":"server-state-changed","z":"982aa065.67e4b8","name":"aisle switch","server":"7592f570.572e1c","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"switch.aisle_light","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":130,"y":520,"wires":[["f6f485f6.17c968"]]},{"id":"ffdb09ea.81a598","type":"server-state-changed","z":"982aa065.67e4b8","name":"stall switch","server":"7592f570.572e1c","version":3,"entityidfilter":"switch.stall_light","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":140,"y":560,"wires":[["f6f485f6.17c968"]]},{"id":"e8f43add.453b18","type":"api-call-service","z":"982aa065.67e4b8","name":"barn north on","server":"7592f570.572e1c","version":3,"service_domain":"switch","service":"turn_on","entityId":"switch.barn_north","data":"","mergecontext":"","outputProperties":[{"property":"payload","propertyType":"flow","value":"","valueType":"data"}],"queue":"none","x":720,"y":460,"wires":[[]]},{"id":"f6f485f6.17c968","type":"switch","z":"982aa065.67e4b8","name":"on or off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":300,"y":547,"wires":[["b81e5122.a6c3a8"],["a8f867f8.4f89a","145126cd.e3bd59"]]},{"id":"6fcdcc9e.c7b7f4","type":"api-call-service","z":"982aa065.67e4b8","name":"barn south on","server":"7592f570.572e1c","version":3,"service_domain":"switch","service":"turn_on","entityId":"switch.barn_south","data":"","mergecontext":"","outputProperties":[{"property":"payload","propertyType":"flow","value":"","valueType":"data"}],"queue":"none","x":720,"y":500,"wires":[[]]},{"id":"b81e5122.a6c3a8","type":"time-range-switch","z":"982aa065.67e4b8","name":"","lat":"41.74","lon":"-72.32","startTime":"sunset","endTime":"sunrise","startOffset":0,"endOffset":0,"x":500,"y":500,"wires":[["6fcdcc9e.c7b7f4"],[]]},{"id":"b7a46046.705758","type":"api-call-service","z":"982aa065.67e4b8","name":"barn north off","server":"7592f570.572e1c","version":3,"service_domain":"switch","service":"turn_off","entityId":"switch.barn_north","data":"","mergecontext":"","outputProperties":[{"property":"payload","propertyType":"flow","value":"","valueType":"data"}],"queue":"none","x":720,"y":560,"wires":[[]]},{"id":"a8f867f8.4f89a","type":"api-call-service","z":"982aa065.67e4b8","name":"barn south of","server":"7592f570.572e1c","version":3,"service_domain":"switch","service":"turn_off","entityId":"switch.barn_south","data":"","mergecontext":"","outputProperties":[{"property":"payload","propertyType":"flow","value":"","valueType":"data"}],"queue":"none","x":720,"y":600,"wires":[[]]},{"id":"c1ae73ef.5b34f","type":"api-call-service","z":"9164e505.7cba8","name":"home fire lights on","server":"7592f570.572e1c","version":3,"service_domain":"light","service":"turn_on","entityId":"group.home_fires","data":"{\"brightness_pct\":100,\"transition\":2}","mergecontext":"","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":790,"y":180,"wires":[[]]},{"id":"7a62096f.148688","type":"debug","z":"9a3d8160.465428","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":730,"y":160,"wires":[]},{"id":"1af5e787.be1588","type":"server-events","z":"9a3d8160.465428","name":"binary_sensor.ecolink_doorwindow_sensor_sensor","server":"7592f570.572e1c","version":1,"event_type":"binary_sensor.ecolink_doorwindow_sensor_sensor","waitForRunning":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"},{"property":"event_type","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"}],"x":290,"y":160,"wires":[["7a62096f.148688"]]},{"id":"d1520ae7.8b4aa","type":"switch","z":"1e649377.bdc225","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":870,"y":60,"wires":[["6ed76ad0.15164c"],["25682998.777a66"]]},{"id":"25682998.777a66","type":"api-call-service","z":"1e649377.bdc225","name":"light off","server":"7592f570.572e1c","version":3,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.stair_light","data":"{\"transition\":1}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":1020,"y":80,"wires":[[]]},{"id":"6ed76ad0.15164c","type":"api-call-service","z":"1e649377.bdc225","name":"light on","server":"7592f570.572e1c","version":3,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.stair_light","data":"{\"brightness\":\"{{bri}}\",\"transition\":1}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":1020,"y":20,"wires":[[]]},{"id":"12d54501.d64cf3","type":"amazon-echo-device","z":"1e649377.bdc225","name":"stair light","topic":"","x":720,"y":60,"wires":[["d1520ae7.8b4aa"]]},{"id":"782b4e98.a4827","type":"debug","z":"8563241e.8ab948","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":650,"y":440,"wires":[]},{"id":"5aab3730.1eb5d","type":"mqtt in","z":"8563241e.8ab948","name":"","topic":"stove/room/temp_dot","qos":"2","datatype":"auto","broker":"9c98dbe9.6cd83","nl":false,"rap":false,"rh":"0","x":360,"y":440,"wires":[["782b4e98.a4827"]]},{"id":"f1d5e04.7363da","type":"mqtt in","z":"8563241e.8ab948","name":"","topic":"shellies/shellyem-B9EDC4/emeter/0/energy","qos":"2","datatype":"auto","broker":"9c98dbe9.6cd83","x":264,"y":600,"wires":[["e738b329.ea072"]]},{"id":"e738b329.ea072","type":"debug","z":"8563241e.8ab948","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":350,"y":680,"wires":[]},{"id":"9bfc53dc.0e407","type":"mqtt in","z":"8563241e.8ab948","name":"","topic":"wallpanel/kitchen/#","qos":"2","datatype":"auto","broker":"9c98dbe9.6cd83","x":250,"y":540,"wires":[["27aff5e1.2ae222"]]},{"id":"27aff5e1.2ae222","type":"debug","z":"8563241e.8ab948","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":570,"y":560,"wires":[]},{"id":"1ee1e13c.e12a27","type":"server-state-changed","z":"145f77f0.74d3f8","name":"mud_room","server":"7592f570.572e1c","version":3,"entityidfilter":"sensor.mud_door","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":220,"y":40,"wires":[[]]},{"id":"ab6bd749.d2aea","type":"server-state-changed","z":"145f77f0.74d3f8","name":"front_door","server":"7592f570.572e1c","version":3,"entityidfilter":"sensor.front_door","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":220,"y":80,"wires":[[]]},{"id":"9759041d.78fb6","type":"subflow:145f77f0.74d3f8","z":"9164e505.7cba8","name":"","env":[],"x":100,"y":340,"wires":[["91c7818.60a898"]]},{"id":"91c7818.60a898","type":"traffic","z":"9164e505.7cba8","name":"stop if home","property_allow":"payload","filter_allow":"not.*","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"^home$","ignore_case_stop":true,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":310,"y":320,"wires":[["fff18bd3.9a7be8","a10d5b72.eaf798"]]},{"id":"8fbae8f6.6f0ba","type":"comment","z":"9164e505.7cba8","name":"turn on lights when door is opened and no one is home","info":"","x":360,"y":380,"wires":[]},{"id":"53c7892b.9267f8","type":"debug","z":"9164e505.7cba8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":360,"y":60,"wires":[]},{"id":"145126cd.e3bd59","type":"delay","z":"982aa065.67e4b8","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":530,"y":560,"wires":[["b7a46046.705758"]]},{"id":"5a2d4962.2b4228","type":"api-call-service","z":"6e285611.d71298","name":"xmas_lights","server":"7592f570.572e1c","version":3,"service_domain":"switch","service":"turn_off","entityId":"group.xmas_lights","data":"","mergecontext":"","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":530,"y":80,"wires":[[]]},{"id":"e0999e3f.1ac6f","type":"delay","z":"6e285611.d71298","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":520,"y":140,"wires":[["80fb44c4.d2f038"]]},{"id":"bd66e882.51f4c8","type":"amazon-echo-device","z":"1e649377.bdc225","name":"christmas","topic":"","x":180,"y":80,"wires":[["a2a8afec.9444b8"]]},{"id":"a2a8afec.9444b8","type":"switch","z":"1e649377.bdc225","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":330,"y":80,"wires":[["a575721d.058ee8"],["ec8ec3c3.d7fd88"]]},{"id":"a575721d.058ee8","type":"api-call-service","z":"1e649377.bdc225","name":"light on","server":"7592f570.572e1c","version":3,"service_domain":"switch","service":"turn_on","entityId":"group.xmas_lights","data":"","mergecontext":"","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":480,"y":40,"wires":[[]]},{"id":"ec8ec3c3.d7fd88","type":"api-call-service","z":"1e649377.bdc225","name":"light off","server":"7592f570.572e1c","version":3,"service_domain":"switch","service":"turn_off","entityId":"group.xmas_lights","data":"","mergecontext":"","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":480,"y":100,"wires":[[]]},{"id":"67993db0.92392c","type":"server-state-changed","z":"9ab144d1.ba9f","name":"motion?","server":"7592f570.572e1c","version":3,"entityidfilter":"input_boolean.motion_cam1","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":100,"y":60,"wires":[["d974b8d3.b39b4"]]},{"id":"5ecc2c51.0bbe04","type":"debug","z":"9ab144d1.ba9f","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":590,"y":180,"wires":[]},{"id":"d974b8d3.b39b4","type":"trigger","z":"9ab144d1.ba9f","name":"","op1":"on","op2":"on","op1type":"str","op2type":"str","duration":"-15","extend":false,"units":"s","reset":"off","bytopic":"all","outputs":1,"x":430,"y":120,"wires":[["5ecc2c51.0bbe04","e0870ab0.c924d"]]},{"id":"27d5f0fd.8653","type":"inject","z":"9ab144d1.ba9f","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":170,"y":160,"wires":[["d974b8d3.b39b4","2accdd6c.960292"]]},{"id":"3aa462b0.ab1106","type":"inject","z":"9ab144d1.ba9f","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"off","payloadType":"str","x":180,"y":294,"wires":[["d974b8d3.b39b4"]]},{"id":"e0870ab0.c924d","type":"api-call-service","z":"9ab144d1.ba9f","name":"run tensor flow","server":"7592f570.572e1c","version":3,"service_domain":"image_processing","service":"scan","entityId":"image_processing.tensorflow_basement_cam","data":"","mergecontext":"","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":660,"y":120,"wires":[[]]},{"id":"9bc25173.92d968","type":"server-state-changed","z":"9ab144d1.ba9f","name":"motion?","server":"7592f570.572e1c","version":3,"entityidfilter":"image_processing.tensorflow_basement_cam","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":80,"y":420,"wires":[["2accdd6c.960292","da9e08f5.82625"]]},{"id":"3d47e969.1b19be","type":"inject","z":"9ab144d1.ba9f","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"topic\":\"image_processing.tensorflow_basement_cam\",\"payload\":\"1\",\"data\":{\"entity_id\":\"image_processing.tensorflow_basement_cam\",\"old_state\":{\"entity_id\":\"image_processing.tensorflow_basement_cam\",\"state\":\"1\",\"attributes\":{\"matches\":{\"person\":[{\"score\":99.81879591941833,\"box\":[0.25508108735084534,0.5475654006004333,0.9882296323776245,0.7230109572410583]}]},\"summary\":{\"person\":1},\"total_matches\":1,\"friendly_name\":\"TensorFlow basement_cam\"},\"last_changed\":\"2019-12-24T03:52:10.924373+00:00\",\"last_updated\":\"2019-12-24T03:52:10.924373+00:00\",\"context\":{\"id\":\"e2fead61b23246b0a948e27444832f2e\",\"parent_id\":null,\"user_id\":null}},\"new_state\":{\"entity_id\":\"image_processing.tensorflow_basement_cam\",\"state\":\"1\",\"attributes\":{\"matches\":{\"person\":[{\"score\":99.46569204330444,\"box\":[0.25363221764564514,0.7362961173057556,0.9834972023963928,0.9414265751838684]}]},\"summary\":{\"person\":1},\"total_matches\":1,\"friendly_name\":\"TensorFlow basement_cam\"},\"last_changed\":\"2019-12-24T03:52:10.924373+00:00\",\"last_updated\":\"2019-12-24T03:52:20.953057+00:00\",\"context\":{\"id\":\"4305f6fbaf6948ae9ce08edc1331e745\",\"parent_id\":null,\"user_id\":null},\"timeSinceChangedMs\":10037}},\"_msgid\":\"d9d11606.245dc8\"}","payloadType":"json","x":130,"y":700,"wires":[[]]},{"id":"2accdd6c.960292","type":"change","z":"9ab144d1.ba9f","name":"","rules":[{"t":"move","p":"data.new_state.attributes.summary","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":420,"wires":[["95afe9b1.2cfe4","beb48f.20388b7"]]},{"id":"8cb80452.c86c7","type":"debug","z":"2f4e3055.be1688","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":290,"y":620,"wires":[]},{"id":"228bc817.e612f8","type":"api-call-service","z":"9ab144d1.ba9f","name":"send text","server":"7592f570.572e1c","version":3,"service_domain":"notify","service":"mobile_app_bernie_phone","entityId":"","data":"{}","mergecontext":"","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":1040,"y":520,"wires":[[]]},{"id":"520c8010.efd28","type":"yaml","z":"9ab144d1.ba9f","property":"payload","name":"","x":350,"y":520,"wires":[["d2c1af15.0f984"]]},{"id":"7ecde6db.3e99e8","type":"debug","z":"9ab144d1.ba9f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":690,"y":440,"wires":[]},{"id":"da9e08f5.82625","type":"debug","z":"9ab144d1.ba9f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":290,"y":340,"wires":[]},{"id":"95afe9b1.2cfe4","type":"debug","z":"9ab144d1.ba9f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":710,"y":400,"wires":[]},{"id":"d2c1af15.0f984","type":"template","z":"9ab144d1.ba9f","name":"","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n  \"data\": {\n    \"message\": \"Intruder {{payload}}\",\n    \"data\": {\n      \"attachment\": {\n        \"url\": \"https://do-stuff.duckdns.org/local/tensorflow/basement_cam_latest.jpg\"\n      }\n    }\n  }\n}","output":"json","x":480,"y":520,"wires":[["7ecde6db.3e99e8","9ad7f314.1f29d"]]},{"id":"10e47846.742ac8","type":"comment","z":"9ab144d1.ba9f","name":"message and picture","info":"","x":420,"y":560,"wires":[]},{"id":"324f2819.26091","type":"api-call-service","z":"9ab144d1.ba9f","name":"send text","server":"7592f570.572e1c","version":3,"service_domain":"notify","service":"mobile_app_jenns_iphone","entityId":"","data":"{}","mergecontext":"","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":1040,"y":580,"wires":[[]]},{"id":"beb48f.20388b7","type":"traffic","z":"9ab144d1.ba9f","name":"","property_allow":"payload","filter_allow":"on","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"off","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":true,"differ":false,"x":350,"y":480,"wires":[["520c8010.efd28"]]},{"id":"8890bbe4.d080c","type":"server-state-changed","z":"9ab144d1.ba9f","name":"switch","server":"7592f570.572e1c","version":3,"entityidfilter":"input_boolean.flow_off2","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":70,"y":500,"wires":[["beb48f.20388b7"]]},{"id":"5fe1cd2f.4e91e4","type":"comment","z":"9ab144d1.ba9f","name":"change where the data is stored in message object","info":"","x":410,"y":380,"wires":[]},{"id":"fc729332.197148","type":"inject","z":"9ab144d1.ba9f","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"topic\":\"image_processing.tensorflow_basement_cam\",\"payload\":\"1\",\"data\":{\"entity_id\":\"image_processing.tensorflow_basement_cam\",\"old_state\":{\"entity_id\":\"image_processing.tensorflow_basement_cam\",\"state\":\"1\",\"attributes\":{\"matches\":{\"cat\":[{\"score\":94.82964873313904,\"box\":[0.47937408089637756,0.06962144374847412,0.7266395092010498,0.3599678575992584]}]},\"summary\":{\"cat\":1},\"total_matches\":1,\"friendly_name\":\"TensorFlow basement_cam\"},\"last_changed\":\"2020-01-01T17:03:02.296274+00:00\",\"last_updated\":\"2020-01-01T17:03:02.296274+00:00\",\"context\":{\"id\":\"3ef50bb9cc9f41edaf2a827671b43290\",\"parent_id\":null,\"user_id\":\"4010740b9e9f4f8d990f5dbad8e2efbc\"}},\"new_state\":{\"entity_id\":\"image_processing.tensorflow_basement_cam\",\"state\":\"1\",\"attributes\":{\"matches\":{\"cat\":[{\"score\":91.02950096130371,\"box\":[0.48609432578086853,0.06793083250522614,0.7328065037727356,0.3475472331047058]}]},\"summary\":{\"cat\":1},\"total_matches\":1,\"friendly_name\":\"TensorFlow basement_cam\"},\"last_changed\":\"2020-01-01T17:03:02.296274+00:00\",\"last_updated\":\"2020-01-01T17:10:18.221420+00:00\",\"context\":{\"id\":\"a05a5428624b4829bca60562f8d26bcc\",\"parent_id\":null,\"user_id\":null},\"timeSinceChangedMs\":435931}},\"_msgid\":\"5ad34cf9.6bfb64\"}","payloadType":"json","x":950,"y":320,"wires":[["378500ca.a3a65","4988a1b2.ba8228"]]},{"id":"378500ca.a3a65","type":"debug","z":"9ab144d1.ba9f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":1410,"y":260,"wires":[]},{"id":"f86dce5f.586a98","type":"traffic","z":"9ab144d1.ba9f","name":"","property_allow":"payload","filter_allow":"not.*","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"^home$","ignore_case_stop":true,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":450,"y":600,"wires":[[]]},{"id":"922bf0b2.127a38","type":"server-state-changed","z":"9ab144d1.ba9f","name":"anyone_home","server":"7592f570.572e1c","version":3,"entityidfilter":"group.jenn_bernie_home","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":450,"y":640,"wires":[["f86dce5f.586a98"]]},{"id":"c2f5eff6.8302c","type":"comment","z":"6e285611.d71298","name":"message if front doors are open","info":"","x":390,"y":340,"wires":[]},{"id":"883083e4.6da218","type":"server-state-changed","z":"6e285611.d71298","name":"front door","server":"7592f570.572e1c","version":3,"entityidfilter":"sensor.front_door","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":80,"y":360,"wires":[["a0b36238.dcf03"]]},{"id":"921f684f.0fb8a","type":"inject","z":"6e285611.d71298","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Open","payloadType":"str","x":90,"y":460,"wires":[["a0b36238.dcf03"]]},{"id":"8ee79329.4edb68","type":"inject","z":"6e285611.d71298","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Closed","payloadType":"str","x":90,"y":420,"wires":[["a0b36238.dcf03"]]},{"id":"4a58a7a8.4fa34","type":"trigger","z":"6e285611.d71298","name":"","op1":"","op2":"on","op1type":"pay","op2type":"str","duration":"-2","extend":false,"units":"min","reset":"Closed","bytopic":"all","outputs":1,"x":470,"y":460,"wires":[["c15071e4.e864c8","368294d4.bc8774"]]},{"id":"70dd70b0.b7bbf8","type":"api-call-service","z":"6e285611.d71298","name":"tell us the front door is open","server":"7592f570.572e1c","version":3,"service_domain":"notify","service":"alexa_media","entityId":"","data":"{\"message\":\"you left the front door open\",\"data\":{\"type\":\"tts\",\"method\":\"all\"},\"target\":\"media_player.bernard_s_sonos_one_second_edition\"}","mergecontext":"","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":740,"y":340,"wires":[[]]},{"id":"368294d4.bc8774","type":"api-call-service","z":"6e285611.d71298","name":"send bernie text","server":"7592f570.572e1c","version":3,"service_domain":"notify","service":"mobile_app_bernie_phone","entityId":"","data":"{   \"message\": \"front door open\" }","mergecontext":"","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":700,"y":400,"wires":[[]]},{"id":"c15071e4.e864c8","type":"api-call-service","z":"6e285611.d71298","name":"send jenn text","server":"7592f570.572e1c","version":3,"service_domain":"notify","service":"mobile_app_jenns_iphone","entityId":"","data":"{   \"message\": \"front door open\" }","mergecontext":"","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":700,"y":480,"wires":[[]]},{"id":"a0b00f5.55548f","type":"server-state-changed","z":"6e285611.d71298","name":"mud door","server":"7592f570.572e1c","version":3,"entityidfilter":"sensor.mud_door","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":80,"y":600,"wires":[["d8a6058.057ee78"]]},{"id":"14b3caf5.02405d","type":"trigger","z":"6e285611.d71298","name":"","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"1","extend":false,"units":"min","reset":"Closed","bytopic":"all","outputs":1,"x":470,"y":420,"wires":[["4a58a7a8.4fa34","70dd70b0.b7bbf8"]]},{"id":"a0b36238.dcf03","type":"switch","z":"6e285611.d71298","name":"Open or Closed","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Open","vt":"str"},{"t":"eq","v":"Closed","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":260,"y":420,"wires":[["14b3caf5.02405d"],["4a58a7a8.4fa34","14b3caf5.02405d"]]},{"id":"d8a6058.057ee78","type":"switch","z":"6e285611.d71298","name":"Open or Closed","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Open","vt":"str"},{"t":"eq","v":"Closed","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":260,"y":660,"wires":[["d217a5b0.592fe"],["8f3a4af4.0d2858","d217a5b0.592fe"]]},{"id":"d217a5b0.592fe","type":"trigger","z":"6e285611.d71298","name":"","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"1","extend":false,"units":"min","reset":"Closed","bytopic":"all","outputs":1,"x":470,"y":660,"wires":[["8f3a4af4.0d2858"]]},{"id":"8f3a4af4.0d2858","type":"trigger","z":"6e285611.d71298","name":"","op1":"","op2":"on","op1type":"pay","op2type":"str","duration":"-2","extend":false,"units":"min","reset":"Closed","bytopic":"all","outputs":1,"x":470,"y":700,"wires":[["20643343.4af554","b05d60e2.c8828","cc129b9c.668188"]]},{"id":"20643343.4af554","type":"api-call-service","z":"6e285611.d71298","name":"send bernie text","server":"7592f570.572e1c","version":3,"service_domain":"notify","service":"mobile_app_bernie_phone","entityId":"","data":"{   \"message\": \"mud room door open\" }","mergecontext":"","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":700,"y":640,"wires":[[]]},{"id":"cc129b9c.668188","type":"api-call-service","z":"6e285611.d71298","name":"send jenn text","server":"7592f570.572e1c","version":3,"service_domain":"notify","service":"mobile_app_jenns_iphone","entityId":"","data":"{   \"message\": \"mud room door open\" }","mergecontext":"","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":700,"y":700,"wires":[[]]},{"id":"b05d60e2.c8828","type":"api-call-service","z":"6e285611.d71298","name":"tell us the mud door is open","server":"7592f570.572e1c","version":3,"service_domain":"notify","service":"alexa_media","entityId":"","data":"{\"message\":\"you left the mud room door open\",\"data\":{\"type\":\"tts\",\"method\":\"all\"},\"target\":\"media_player.bernard_s_sonos_one_second_edition\"}","mergecontext":"","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":740,"y":580,"wires":[[]]},{"id":"20ef2577.bd3dd2","type":"inject","z":"6e285611.d71298","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Closed","payloadType":"str","x":90,"y":660,"wires":[["d8a6058.057ee78"]]},{"id":"4017eb58.bc92e4","type":"inject","z":"6e285611.d71298","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Open","payloadType":"str","x":90,"y":700,"wires":[["d8a6058.057ee78"]]},{"id":"ca53d331.f036b","type":"api-call-service","z":"78a5537e.b2d8b4","name":"on kit lights","server":"7592f570.572e1c","version":3,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.kitchen_light","data":"{\"transition\":2,\"brightness_pct\":10}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":710,"y":120,"wires":[[]]},{"id":"51f113e3.32d794","type":"time-range-switch","z":"78a5537e.b2d8b4","name":"between 4 and sunrise","lat":"41.747","lon":"-72.322","startTime":"4:00","endTime":"sunrise","startOffset":0,"endOffset":"","x":720,"y":180,"wires":[["ca53d331.f036b"],[]]},{"id":"206df6bf.a3145a","type":"subflow:145f77f0.74d3f8","z":"78a5537e.b2d8b4","name":"","x":710,"y":240,"wires":[["51f113e3.32d794"]]},{"id":"9444653c.cbd36","type":"server-state-changed","z":"35e89e6c.dc32d2","name":"switch","server":"7592f570.572e1c","version":3,"entityidfilter":"input_boolean.flow_off3","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":590,"y":420,"wires":[["425bb8b0.34e518"]]},{"id":"425bb8b0.34e518","type":"change","z":"35e89e6c.dc32d2","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"on","fromt":"str","to":"go","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"off","fromt":"str","to":"stop","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":360,"wires":[["cd401f1.da1236"]]},{"id":"cd401f1.da1236","type":"traffic","z":"35e89e6c.dc32d2","name":"","property_allow":"payload","filter_allow":"go","ignore_case_allow":false,"negate_allow":false,"send_allow":true,"property_stop":"payload","filter_stop":"stop","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":true,"differ":false,"x":610,"y":300,"wires":[["31214263.c780ae"]]},{"id":"f3681dc6.3b53c8","type":"traffic","z":"9ab144d1.ba9f","name":"","property_allow":"payload.data.message","filter_allow":".*cat.*","ignore_case_allow":true,"negate_allow":false,"send_allow":true,"property_stop":"payload.data.message","filter_stop":".*cat.*","ignore_case_stop":true,"negate_stop":true,"send_stop":false,"default_start":false,"differ":false,"x":1570,"y":460,"wires":[["88556471.b30d7"]]},{"id":"88556471.b30d7","type":"api-call-service","z":"9ab144d1.ba9f","name":"send text","server":"7592f570.572e1c","version":3,"service_domain":"notify","service":"mobile_app_bernie_phone","entityId":"","data":"{}","mergecontext":"","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":1740,"y":420,"wires":[[]]},{"id":"41d8e582.4b5234","type":"change","z":"9ab144d1.ba9f","name":"","rules":[{"t":"move","p":"data.new_state.attributes.summary","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1480,"y":320,"wires":[["8b8055f6.2fe948"]]},{"id":"8b8055f6.2fe948","type":"yaml","z":"9ab144d1.ba9f","property":"payload","name":"","x":1370,"y":380,"wires":[["89499842.42f7c"]]},{"id":"89499842.42f7c","type":"template","z":"9ab144d1.ba9f","name":"","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n  \"data\": {\n    \"message\": \"Intruder {{payload}}\",\n    \"data\": {\n      \"attachment\": {\n        \"url\": \"https://do-stuff.duckdns.org/local/tensorflow/basement_cam_latest.jpg\"\n      }\n    }\n  }\n}","output":"json","x":1380,"y":440,"wires":[["f3681dc6.3b53c8","7243bc95.e3b41c"]]},{"id":"7243bc95.e3b41c","type":"debug","z":"9ab144d1.ba9f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":1590,"y":380,"wires":[]},{"id":"4988a1b2.ba8228","type":"change","z":"9ab144d1.ba9f","name":"","rules":[{"t":"move","p":"payload.data","pt":"msg","to":"data","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1130,"y":320,"wires":[["41d8e582.4b5234"]]},{"id":"96a20a9a.5d665","type":"inject","z":"9ab144d1.ba9f","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"topic\":\"image_processing.tensorflow_basement_cam\",\"payload\":\"1\",\"data\":{\"entity_id\":\"image_processing.tensorflow_basement_cam\",\"old_state\":{\"entity_id\":\"image_processing.tensorflow_basement_cam\",\"state\":\"1\",\"attributes\":{\"matches\":{\"dog\":[{\"score\":94.82964873313904,\"box\":[0.47937408089637756,0.06962144374847412,0.7266395092010498,0.3599678575992584]}]},\"summary\":{\"dog\":1},\"total_matches\":1,\"friendly_name\":\"TensorFlow basement_cam\"},\"last_changed\":\"2020-01-01T17:03:02.296274+00:00\",\"last_updated\":\"2020-01-01T17:03:02.296274+00:00\",\"context\":{\"id\":\"3ef50bb9cc9f41edaf2a827671b43290\",\"parent_id\":null,\"user_id\":\"4010740b9e9f4f8d990f5dbad8e2efbc\"}},\"new_state\":{\"entity_id\":\"image_processing.tensorflow_basement_cam\",\"state\":\"1\",\"attributes\":{\"matches\":{\"dog\":[{\"score\":91.02950096130371,\"box\":[0.48609432578086853,0.06793083250522614,0.7328065037727356,0.3475472331047058]}]},\"summary\":{\"dog\":1},\"total_matches\":1,\"friendly_name\":\"TensorFlow basement_cam\"},\"last_changed\":\"2020-01-01T17:03:02.296274+00:00\",\"last_updated\":\"2020-01-01T17:10:18.221420+00:00\",\"context\":{\"id\":\"a05a5428624b4829bca60562f8d26bcc\",\"parent_id\":null,\"user_id\":null},\"timeSinceChangedMs\":435931}},\"_msgid\":\"5ad34cf9.6bfb64\"}","payloadType":"json","x":950,"y":380,"wires":[["4988a1b2.ba8228"]]},{"id":"9ad7f314.1f29d","type":"traffic","z":"9ab144d1.ba9f","name":"","property_allow":"payload.data.message","filter_allow":".*cat.*","ignore_case_allow":true,"negate_allow":false,"send_allow":true,"property_stop":"payload.data.message","filter_stop":".*cat.*","ignore_case_stop":true,"negate_stop":true,"send_stop":false,"default_start":false,"differ":false,"x":670,"y":520,"wires":[["4b069da5.c07904","c4b70e70.c417f"]]},{"id":"fdac777f.c4673","type":"comment","z":"9ab144d1.ba9f","name":"use this to test things","info":"","x":1380,"y":220,"wires":[]},{"id":"8a45a7b1.8a93b8","type":"comment","z":"9ab144d1.ba9f","name":"this box converts the inject type object to look like the real thing","info":"","x":1150,"y":280,"wires":[]},{"id":"4b069da5.c07904","type":"delay","z":"9ab144d1.ba9f","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"3","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":860,"y":500,"wires":[[]]},{"id":"c4b70e70.c417f","type":"delay","z":"9ab144d1.ba9f","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"30","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":860,"y":580,"wires":[["324f2819.26091","228bc817.e612f8"]]},{"id":"90eb9055.18bb98","type":"comment","z":"9ab144d1.ba9f","name":"only if cat is in payload","info":"","x":680,"y":480,"wires":[]},{"id":"de7f233d.94cd5","type":"debug","z":"f9bc4c8a.b25f5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":720,"y":360,"wires":[]},{"id":"2787bcf6.d9f5cc","type":"http request","z":"f9bc4c8a.b25f5","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://api-user.e2ro.com/2.2/networks/203372/?","tls":"","persist":false,"proxy":"","authType":"","x":320,"y":320,"wires":[["de7f233d.94cd5"]]},{"id":"2c2e7e3a.f5a03a","type":"inject","z":"f9bc4c8a.b25f5","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":100,"wires":[["71d54efc.77a99"]]},{"id":"59c7bafb.c8c91c","type":"debug","z":"f9bc4c8a.b25f5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":770,"y":260,"wires":[]},{"id":"71d54efc.77a99","type":"file in","z":"f9bc4c8a.b25f5","name":"","filename":"/Users/mega_man/Documents/GitHub/eero-client/session.cookie","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":430,"y":200,"wires":[["2787bcf6.d9f5cc","59c7bafb.c8c91c"]]},{"id":"6aa668b3.871378","type":"comment","z":"35e89e6c.dc32d2","name":"Water leak flows","info":"","x":540,"y":540,"wires":[]},{"id":"bf3a485c.7da3b","type":"comment","z":"35e89e6c.dc32d2","name":"check for working leak sensor.","info":"","x":140,"y":600,"wires":[]},{"id":"bbafbff9.c91768","type":"comment","z":"35e89e6c.dc32d2","name":"send multiple notifications","info":"","x":910,"y":600,"wires":[]},{"id":"b70194e4.399fe","type":"debug","z":"35e89e6c.dc32d2","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":700,"y":640,"wires":[]},{"id":"9321b6db.8e21d","type":"inject","z":"35e89e6c.dc32d2","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"82800","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"health_check","payloadType":"str","x":240,"y":700,"wires":[["1c0a54d4.06de13"]]},{"id":"febd851f.dd9bf","type":"server-state-changed","z":"35e89e6c.dc32d2","name":"","server":"7592f570.572e1c","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.tank_leak_sensor_node_status","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":200,"y":640,"wires":[["1c0a54d4.06de13","59e6e806.d7a5a8"]]},{"id":"e795763a.1d07f","type":"inject","z":"35e89e6c.dc32d2","name":"","repeat":"","crontab":"","once":false,"onceDelay":"10","topic":"","payload":"ready","payloadType":"str","x":410,"y":780,"wires":[["1c0a54d4.06de13"]]},{"id":"3cdf2137.0b6906","type":"api-call-service","z":"35e89e6c.dc32d2","name":"send bernie text","server":"7592f570.572e1c","version":3,"service_domain":"notify","service":"mobile_app_bernie_phone","entityId":"","data":"{   \"message\": \"Water sensor missing\" }","mergecontext":"","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":700,"y":760,"wires":[[]]},{"id":"92eba35.0f0dbe","type":"inject","z":"35e89e6c.dc32d2","name":"","repeat":"43200","crontab":"","once":false,"onceDelay":"10","topic":"","payload":"allow_traffic","payloadType":"str","x":270,"y":740,"wires":[[]]},{"id":"e9033f39.4338a8","type":"inject","z":"35e89e6c.dc32d2","name":"","repeat":"","crontab":"","once":false,"onceDelay":"10","topic":"","payload":"sleeping","payloadType":"str","x":420,"y":820,"wires":[["1c0a54d4.06de13"]]},{"id":"a185dbf9.b346b","type":"amazon-echo-device","z":"1e649377.bdc225","name":"bonus room light","topic":"","x":150,"y":180,"wires":[["c4a26945.6e52b","607a56ad.5c7958"]]},{"id":"9537f1d7.5cbdc8","type":"comment","z":"286b1096.bf92d","name":"light in master bed room","info":"","x":490,"y":40,"wires":[]},{"id":"9416f088.c99518","type":"server-state-changed","z":"e38dbe48.4ec758","name":"motion","server":"7592f570.572e1c","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.bonus_motion","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":230,"y":120,"wires":[["dbe01c3b.af4b18","d67a43e1.be8bc"]]},{"id":"dbe01c3b.af4b18","type":"debug","z":"e38dbe48.4ec758","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":430,"y":120,"wires":[]},{"id":"21e2190e.ec6c26","type":"inject","z":"e38dbe48.4ec758","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":90,"y":220,"wires":[["d67a43e1.be8bc"]]},{"id":"6c6b33a1.141ef4","type":"switch","z":"e38dbe48.4ec758","name":"motion?","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"on","vt":"str"},{"t":"lt","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":260,"y":320,"wires":[["7179bae0.2dc46c"],[]]},{"id":"639c67db.a91bc8","type":"inject","z":"e38dbe48.4ec758","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"off","payloadType":"str","x":90,"y":260,"wires":[["d67a43e1.be8bc"]]},{"id":"7822a6d.4353dd8","type":"time-range-switch","z":"e38dbe48.4ec758","name":"work day","lat":"","lon":"","startTime":"06:00","endTime":"17:30","startOffset":0,"endOffset":0,"x":400,"y":220,"wires":[["dd6d086e.70a878","6c6b33a1.141ef4"],[]]},{"id":"dd6d086e.70a878","type":"debug","z":"e38dbe48.4ec758","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":630,"y":200,"wires":[]},{"id":"d67a43e1.be8bc","type":"weekday","z":"e38dbe48.4ec758","name":"","sun":false,"mon":true,"tue":true,"wed":true,"thu":true,"fri":false,"sat":false,"x":240,"y":220,"wires":[["7822a6d.4353dd8"],[]]},{"id":"407c68d7.59457","type":"comment","z":"e38dbe48.4ec758","name":"motion in room?","info":"","x":240,"y":80,"wires":[]},{"id":"ff22f51d.4908a","type":"comment","z":"e38dbe48.4ec758","name":"what day/time is it?","info":"","x":350,"y":180,"wires":[]},{"id":"7179bae0.2dc46c","type":"exec","z":"e38dbe48.4ec758","command":"caffeinate -u -t 2","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":650,"y":280,"wires":[[],[],[]]},{"id":"8f20fa94.af4658","type":"time-range-switch","z":"286b1096.bf92d","name":"","lat":"41.74","lon":"-72.32","startTime":"06:00","endTime":"21:00","startOffset":0,"endOffset":0,"x":190,"y":520,"wires":[["2282c573.a79ffa"],[]]},{"id":"1b7fb73f.3d1c31","type":"comment","z":"286b1096.bf92d","name":"pump hot water on motion","info":"","x":370,"y":400,"wires":[]},{"id":"71e3f56b.dc1c24","type":"api-call-service","z":"286b1096.bf92d","name":"call hot water","server":"7592f570.572e1c","version":3,"service_domain":"script","service":"call_for_hot_water","data":"","mergecontext":"","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":560,"y":560,"wires":[[]]},{"id":"6bc86645.5b8bc8","type":"debug","z":"286b1096.bf92d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":550,"y":500,"wires":[]},{"id":"2282c573.a79ffa","type":"delay","z":"286b1096.bf92d","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"hour","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":350,"y":520,"wires":[["6bc86645.5b8bc8","71e3f56b.dc1c24"]]},{"id":"e406e366.df1318","type":"api-call-service","z":"16f2d4d6.d6132b","name":"led on","server":"7592f570.572e1c","version":3,"debugenabled":false,"service_domain":"zwave_js","service":"set_config_parameter","entityId":"","data":"{\"entity_id\":\"light.dead_switch\",\"parameter\":\"Status Mode 4 Color\",\"value\":\"Yellow\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"flow","value":"","valueType":"data"}],"queue":"none","x":330,"y":120,"wires":[["1acec6c3.b58e99"]]},{"id":"a93c8ecf.128bb8","type":"switch","z":"16f2d4d6.d6132b","name":"on or off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":180,"y":167,"wires":[["e406e366.df1318"],["315cbe3a.d546aa"]]},{"id":"1acec6c3.b58e99","type":"time-range-switch","z":"16f2d4d6.d6132b","name":"before dusk?","lat":"41.74","lon":"-72.32","startTime":"06:00","endTime":"dusk","startOffset":0,"endOffset":"","x":490,"y":100,"wires":[["d99743b3.3d94c8"],["30e25233.788e3e"]]},{"id":"67848f97.19eb68","type":"server-state-changed","z":"16f2d4d6.d6132b","name":"garage doors","server":"7592f570.572e1c","version":3,"entityidfilter":"group.garage_doors","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":179.5,"y":50,"wires":[["a93c8ecf.128bb8"]]},{"id":"315cbe3a.d546aa","type":"api-call-service","z":"16f2d4d6.d6132b","name":"led off","server":"7592f570.572e1c","version":3,"debugenabled":false,"service_domain":"zwave_js","service":"set_config_parameter","entityId":"","data":"{\"entity_id\":\"light.dead_switch\",\"parameter\":\"Status Mode 4 Color\",\"value\":\"Off\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"flow","value":"","valueType":"data"}],"queue":"none","x":410,"y":260,"wires":[["d99743b3.3d94c8","2126c022.e1eb48"]]},{"id":"35df59ec.bc36a6","type":"inject","z":"16f2d4d6.d6132b","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":154.5,"y":99,"wires":[["a93c8ecf.128bb8"]]},{"id":"b7c08bac.72dd","type":"inject","z":"16f2d4d6.d6132b","name":"","repeat":"","crontab":"00 06 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"off","payloadType":"str","x":164.5,"y":233,"wires":[["a93c8ecf.128bb8"]]},{"id":"7acadbe7.1e330c","type":"api-current-state","z":"16f2d4d6.d6132b","name":"","server":"7592f570.572e1c","version":2,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"group.garage_doors","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":196,"y":319,"wires":[["a93c8ecf.128bb8"]]},{"id":"d99743b3.3d94c8","type":"api-call-service","z":"16f2d4d6.d6132b","name":"led stop blink","server":"7592f570.572e1c","version":3,"debugenabled":false,"service_domain":"zwave_js","service":"set_config_parameter","entityId":"","data":"{\"entity_id\":\"light.dead_switch\",\"value\":\"Disable\",\"parameter\":\"LED 4 Blink Status\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":754.5,"y":330,"wires":[[]]},{"id":"30e25233.788e3e","type":"api-call-service","z":"16f2d4d6.d6132b","name":"led blink","server":"7592f570.572e1c","version":3,"debugenabled":false,"service_domain":"zwave_js","service":"set_config_parameter","entityId":"","data":"{\"entity_id\":\"light.dead_switch\",\"value\":\"Enable\",\"parameter\":\"LED 4 Blink Status\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"flow","value":"","valueType":"data"}],"queue":"none","x":720,"y":100,"wires":[["a95dc4f7.e110c"]]},{"id":"2126c022.e1eb48","type":"trigger","z":"16f2d4d6.d6132b","name":"","op1":"on","op2":"on","op1type":"str","op2type":"str","duration":"-15","extend":false,"units":"min","reset":"off","bytopic":"all","outputs":1,"x":730,"y":260,"wires":[["a54519aa.6f233","77e912de.c8bf34","6b11327e.3a382c"]]},{"id":"da0b5635.95e32","type":"inject","z":"16f2d4d6.d6132b","name":"","props":[{"p":"payload","v":"","vt":"date"},{"p":"topic","v":"19:31","vt":"string"}],"repeat":"","crontab":"31 19 * * *","once":false,"onceDelay":0.1,"topic":"19:31","payload":"","payloadType":"date","x":165,"y":400,"wires":[["7acadbe7.1e330c"]]},{"id":"a95dc4f7.e110c","type":"api-call-service","z":"16f2d4d6.d6132b","name":"blink speed","server":"7592f570.572e1c","version":3,"debugenabled":false,"service_domain":"zwave_js","service":"set_config_parameter","entityId":"","data":"{\"entity_id\":\"light.dead_switch\",\"value\":5,\"parameter\":\"Blink Frequency\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":729.5,"y":189,"wires":[["2126c022.e1eb48"]]},{"id":"a54519aa.6f233","type":"api-call-service","z":"16f2d4d6.d6132b","name":"tell us the lights are on","server":"7592f570.572e1c","version":3,"service_domain":"notify","service":"alexa_media","entityId":"","data":"{\"message\":\"you left the garage doors open\",\"data\":{\"type\":\"tts\",\"method\":\"all\"},\"target\":\"media_player.bernard_s_sonos_one_second_edition\"}","mergecontext":"","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":994.5,"y":70,"wires":[[]]},{"id":"77e912de.c8bf34","type":"api-call-service","z":"16f2d4d6.d6132b","name":"send bernie text","server":"7592f570.572e1c","version":3,"debugenabled":false,"service_domain":"notify","service":"mobile_app_bernie_phone","entityId":"","data":"{\"message\":\"garage doors open\",\"data\":{\"actions\":[{\"action\":\"close_garage\",\"title\":\"Close doors\"}]}}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":980,"y":180,"wires":[[]]},{"id":"6b11327e.3a382c","type":"api-call-service","z":"16f2d4d6.d6132b","name":"send jenn text","server":"7592f570.572e1c","version":3,"service_domain":"notify","service":"mobile_app_jenns_iphone","entityId":"","data":"{   \"message\": \"garage doors open\" }","mergecontext":"","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":981.5,"y":262,"wires":[[]]},{"id":"830cdd08.7904e8","type":"comment","z":"16f2d4d6.d6132b","name":"blink switch if garage doors are open","info":"","x":524.5,"y":50,"wires":[]},{"id":"d7996cc1.f31938","type":"exec","z":"2f4e3055.be1688","command":"blinkstick random --index=5","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":180,"y":540,"wires":[["8cb80452.c86c7"],["1c6dcbcc.01d9d4"],["2daf495e.e8c076"]]},{"id":"4d8ba47c.c72c14","type":"inject","z":"2f4e3055.be1688","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":740,"wires":[["d7996cc1.f31938"]]},{"id":"2daf495e.e8c076","type":"debug","z":"2f4e3055.be1688","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":290,"y":700,"wires":[]},{"id":"f5cce565.a91fd","type":"exec","z":"2f4e3055.be1688","command":"python3 /Users/mega_man/Documents/Blinkstick/python_scripts/blinc.py --color red --flow --brightness=.5","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1090,"y":540,"wires":[[],[],[]]},{"id":"2b69bd86.aebd22","type":"inject","z":"2f4e3055.be1688","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":580,"y":540,"wires":[["f5cce565.a91fd"]]},{"id":"4b0b0967.a92488","type":"inject","z":"2f4e3055.be1688","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":580,"y":480,"wires":[["3310a692.f5bfb2"]]},{"id":"3310a692.f5bfb2","type":"exec","z":"2f4e3055.be1688","command":"python3 /Users/mega_man/Documents/Blinkstick/python_scripts/blinc.py --color red --flow --brightness=0","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1090,"y":480,"wires":[[],[],[]]},{"id":"e80d0e26.a3f108","type":"exec","z":"2f4e3055.be1688","command":"echo $((`ioreg -c IOHIDSystem | sed -e '/HIDIdleTime/ !{ d' -e 't' -e '}' -e 's/.* = //g' -e 'q'` / 1000000000))","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":860,"y":660,"wires":[[],[],["6fc98ed.e3f6bf"]]},{"id":"d4cbfb14.999e4","type":"inject","z":"2f4e3055.be1688","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":600,"y":580,"wires":[["e80d0e26.a3f108"]]},{"id":"6fc98ed.e3f6bf","type":"debug","z":"2f4e3055.be1688","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1210,"y":580,"wires":[]},{"id":"e61170b0.534368","type":"comment","z":"971f0e67.c30f88","name":"message if freezer door is open","info":"","x":410,"y":60,"wires":[]},{"id":"227c3cbd.61927c","type":"server-state-changed","z":"971f0e67.c30f88","name":"feezer door","server":"7592f570.572e1c","version":3,"entityidfilter":"sensor.freezer_door","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":110,"y":80,"wires":[["8255be06.9a25a8"]]},{"id":"22d8692c.a340d6","type":"inject","z":"971f0e67.c30f88","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Open","payloadType":"str","x":110,"y":180,"wires":[["8255be06.9a25a8"]]},{"id":"70205406.02048c","type":"inject","z":"971f0e67.c30f88","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Closed","payloadType":"str","x":110,"y":140,"wires":[["8255be06.9a25a8"]]},{"id":"3bbf35a.f224fca","type":"trigger","z":"971f0e67.c30f88","name":"","op1":"","op2":"on","op1type":"pay","op2type":"str","duration":"-30","extend":false,"units":"s","reset":"Closed","bytopic":"all","outputs":1,"x":490,"y":180,"wires":[["e6524d24.c159c","902f63df.655d4","ef370d30.68b84"]]},{"id":"ef370d30.68b84","type":"api-call-service","z":"971f0e67.c30f88","name":"tell us the freezer door is open","server":"7592f570.572e1c","version":3,"service_domain":"notify","service":"alexa_media","entityId":"","data":"{\"message\":\"you left the freezer door open\",\"data\":{\"type\":\"tts\",\"method\":\"all\"},\"target\":\"media_player.bernard_s_sonos_one_second_edition\"}","mergecontext":"","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":770,"y":60,"wires":[[]]},{"id":"e6524d24.c159c","type":"api-call-service","z":"971f0e67.c30f88","name":"send bernie text","server":"7592f570.572e1c","version":3,"service_domain":"notify","service":"mobile_app_bernie_phone","entityId":"","data":"{   \"message\": \"freezer door open\" }","mergecontext":"","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":720,"y":120,"wires":[[]]},{"id":"902f63df.655d4","type":"api-call-service","z":"971f0e67.c30f88","name":"send jenn text","server":"7592f570.572e1c","version":3,"service_domain":"notify","service":"mobile_app_jenns_iphone","entityId":"","data":"{   \"message\": \"freezer door open\" }","mergecontext":"","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":720,"y":180,"wires":[[]]},{"id":"3e34dc68.b4b304","type":"trigger","z":"971f0e67.c30f88","name":"","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"1","extend":false,"units":"min","reset":"Closed","bytopic":"all","outputs":1,"x":490,"y":140,"wires":[["3bbf35a.f224fca"]]},{"id":"8255be06.9a25a8","type":"switch","z":"971f0e67.c30f88","name":"Open or Closed","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Open","vt":"str"},{"t":"eq","v":"Closed","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":280,"y":140,"wires":[["3e34dc68.b4b304"],["3bbf35a.f224fca","3e34dc68.b4b304"]]},{"id":"10eb02e4.878ce5","type":"switch","z":"971f0e67.c30f88","name":"Open or Closed","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Open","vt":"str"},{"t":"eq","v":"Closed","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":280,"y":380,"wires":[["702c7106.39ce3"],["af7d698d.feeda8","702c7106.39ce3"]]},{"id":"702c7106.39ce3","type":"trigger","z":"971f0e67.c30f88","name":"","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"1","extend":false,"units":"min","reset":"Closed","bytopic":"all","outputs":1,"x":490,"y":380,"wires":[["af7d698d.feeda8"]]},{"id":"af7d698d.feeda8","type":"trigger","z":"971f0e67.c30f88","name":"","op1":"","op2":"on","op1type":"pay","op2type":"str","duration":"-2","extend":false,"units":"min","reset":"Closed","bytopic":"all","outputs":1,"x":490,"y":420,"wires":[["c201a79f.ab2c58","e65609d0.5992a","91882a2f.67abd8"]]},{"id":"c201a79f.ab2c58","type":"api-call-service","z":"971f0e67.c30f88","name":"send bernie text","server":"7592f570.572e1c","version":3,"service_domain":"notify","service":"mobile_app_bernie_phone","entityId":"","data":"{   \"message\": \"mud room door open\" }","mergecontext":"","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":720,"y":360,"wires":[[]]},{"id":"91882a2f.67abd8","type":"api-call-service","z":"971f0e67.c30f88","name":"send jenn text","server":"7592f570.572e1c","version":3,"service_domain":"notify","service":"mobile_app_jenns_iphone","entityId":"","data":"{   \"message\": \"mud room door open\" }","mergecontext":"","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":720,"y":420,"wires":[[]]},{"id":"e65609d0.5992a","type":"api-call-service","z":"971f0e67.c30f88","name":"tell us the mud door is open","server":"7592f570.572e1c","version":3,"service_domain":"notify","service":"alexa_media","entityId":"","data":"{\"message\":\"you left the mud room door open\",\"data\":{\"type\":\"tts\",\"method\":\"all\"},\"target\":\"media_player.bernard_s_sonos_one_second_edition\"}","mergecontext":"","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":760,"y":300,"wires":[[]]},{"id":"7b46da1d.061f14","type":"inject","z":"971f0e67.c30f88","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Closed","payloadType":"str","x":110,"y":380,"wires":[["10eb02e4.878ce5"]]},{"id":"aaeb8ad9.888ee8","type":"inject","z":"971f0e67.c30f88","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Open","payloadType":"str","x":110,"y":420,"wires":[["10eb02e4.878ce5"]]},{"id":"8ce260af.3acfb8","type":"server-state-changed","z":"35e89e6c.dc32d2","name":"basement motion","server":"7592f570.572e1c","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.basement_motion","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":120,"y":180,"wires":[["d47f50e9.55d178","beac25d8.59ef18"]]},{"id":"e90b436a.12e33","type":"debug","z":"35e89e6c.dc32d2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":750,"y":880,"wires":[]},{"id":"80a83eca.730f8","type":"inject","z":"35e89e6c.dc32d2","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"82800","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"health_check","payloadType":"str","x":240,"y":960,"wires":[["925fe799.da5b5"]]},{"id":"3c1b61be.74dae6","type":"inject","z":"35e89e6c.dc32d2","name":"","repeat":"","crontab":"","once":false,"onceDelay":"10","topic":"","payload":"ready","payloadType":"str","x":410,"y":1020,"wires":[["925fe799.da5b5"]]},{"id":"dec14c5b.b1b078","type":"api-call-service","z":"35e89e6c.dc32d2","name":"send bernie text","server":"7592f570.572e1c","version":3,"debugenabled":false,"service_domain":"notify","service":"mobile_app_bernie_phone","entityId":"","data":"{\"message\":\"Water Valve missing\"}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":760,"y":1000,"wires":[[]]},{"id":"59682864.c79308","type":"inject","z":"35e89e6c.dc32d2","name":"","repeat":"43200","crontab":"","once":false,"onceDelay":"10","topic":"","payload":"allow_traffic","payloadType":"str","x":230,"y":1000,"wires":[[]]},{"id":"925fe799.da5b5","type":"trigger","z":"35e89e6c.dc32d2","name":"","op1":"","op2":"go","op1type":"nul","op2type":"str","duration":"24","extend":false,"overrideDelay":false,"units":"hr","reset":"alive","bytopic":"all","topic":"topic","outputs":1,"x":530,"y":900,"wires":[["dec14c5b.b1b078","e90b436a.12e33"]]},{"id":"eaba463d.2334e","type":"inject","z":"35e89e6c.dc32d2","name":"","repeat":"","crontab":"","once":false,"onceDelay":"10","topic":"","payload":"sleeping","payloadType":"str","x":420,"y":1060,"wires":[["925fe799.da5b5"]]},{"id":"142492a2.1fa4c5","type":"comment","z":"6e285611.d71298","name":"turn on porch light if mud door opened or when someone gets home","info":"","x":460,"y":780,"wires":[]},{"id":"4a239814.c92fb8","type":"server-state-changed","z":"6e285611.d71298","name":"mud door","server":"7592f570.572e1c","version":3,"entityidfilter":"sensor.mud_door","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":100,"y":800,"wires":[["d56b03ef.4ea67"]]},{"id":"3f7e67c0.bbe49","type":"trigger","z":"6e285611.d71298","name":"","op1":"","op2":"off","op1type":"nul","op2type":"str","duration":"10","extend":true,"units":"min","reset":"8","bytopic":"all","topic":"topic","outputs":1,"x":410,"y":960,"wires":[["3686b0e7.e589d"]]},{"id":"ee8b4650.22155","type":"api-call-service","z":"6e285611.d71298","name":"mud porch light on","server":"7592f570.572e1c","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.mud_porch_switch","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":590,"y":900,"wires":[[]]},{"id":"3686b0e7.e589d","type":"api-call-service","z":"6e285611.d71298","name":"mud porch light off","server":"7592f570.572e1c","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.mud_porch_switch","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":590,"y":960,"wires":[[]]},{"id":"d56b03ef.4ea67","type":"time-range-switch","z":"6e285611.d71298","name":"","lat":"41.74","lon":"-72.32","startTime":"sunset","endTime":"sunrise","startOffset":0,"endOffset":0,"x":240,"y":900,"wires":[["3f7e67c0.bbe49","ee8b4650.22155"],[]]},{"id":"bd5f7626.d6095","type":"api-call-service","z":"6e285611.d71298","name":"mud porch light off","server":"7592f570.572e1c","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.mud_porch_switch","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":550,"y":40,"wires":[[]]},{"id":"1de20a05.950f7e","type":"time-range-switch","z":"286b1096.bf92d","name":"","lat":"41.74","lon":"-72.32","startTime":"sunset","endTime":"22:30","startOffset":0,"endOffset":0,"x":920,"y":160,"wires":[["6073a189.ccb468"],[]]},{"id":"59e6e806.d7a5a8","type":"debug","z":"35e89e6c.dc32d2","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":500,"y":600,"wires":[]},{"id":"119fdd93.af3fe2","type":"debug","z":"2f4e3055.be1688","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":510,"y":840,"wires":[]},{"id":"c04f67f7.712f58","type":"inject","z":"2f4e3055.be1688","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":840,"wires":[["6035d07e.97bcf8","119fdd93.af3fe2"]]},{"id":"6035d07e.97bcf8","type":"trigger","z":"2f4e3055.be1688","name":"Watchdog","op1":"","op2":"timeout","op1type":"nul","op2type":"str","duration":"-5","extend":true,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":330,"y":880,"wires":[["bd537690.ff04e"]]},{"id":"bd537690.ff04e","type":"debug","z":"2f4e3055.be1688","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":510,"y":880,"wires":[]},{"id":"1c0a54d4.06de13","type":"trigger","z":"35e89e6c.dc32d2","name":"","op1":"","op2":"timeout","op1type":"nul","op2type":"str","duration":"24","extend":false,"overrideDelay":false,"units":"hr","reset":"sleeping","bytopic":"all","topic":"topic","outputs":1,"x":510,"y":700,"wires":[["b70194e4.399fe","3cdf2137.0b6906"]]},{"id":"f4855ad5.6165c","type":"api-call-service","z":"9164e505.7cba8","name":"mud porch light on","server":"7592f570.572e1c","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.mud_porch_switch","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":790,"y":60,"wires":[[]]},{"id":"5cce2cb4.fc9c94","type":"api-call-service","z":"1e649377.bdc225","name":"window light off","server":"7592f570.572e1c","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.tpplug4","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":1040,"y":600,"wires":[[]]},{"id":"ed82a065.44439","type":"server-state-changed","z":"6e285611.d71298","name":"Bernie home","server":"7592f570.572e1c","version":3,"entityidfilter":"person.bernie","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":110,"y":1040,"wires":[["d56b03ef.4ea67"]]},{"id":"37896963.1c2f2e","type":"server-state-changed","z":"6e285611.d71298","name":"jenn home","server":"7592f570.572e1c","version":3,"entityidfilter":"person.jenn","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":80,"y":960,"wires":[["d56b03ef.4ea67"]]},{"id":"dc7615c9.40c208","type":"mqtt out","z":"8563241e.8ab948","name":"","topic":"notification","qos":"","retain":"","broker":"9c98dbe9.6cd83","x":760,"y":520,"wires":[]},{"id":"99de5dd2.9833d8","type":"inject","z":"8563241e.8ab948","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"balls","payload":"tacos","payloadType":"str","x":580,"y":500,"wires":[["dc7615c9.40c208"]]},{"id":"83a9dbbf.44fd","type":"comment","z":"35e89e6c.dc32d2","name":"check for valve.  It's always \"ready\" and doesn't have to check in every 12 hours","info":"","x":300,"y":860,"wires":[]},{"id":"17050ec5.64ac19","type":"poll-state","z":"35e89e6c.dc32d2","name":"check for valve","server":"7592f570.572e1c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"43200","updateIntervalUnits":"seconds","outputinitially":false,"outputonchanged":false,"entity_id":"sensor.main_water_shut_off_node_status","state_type":"str","halt_if":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":200,"y":900,"wires":[["925fe799.da5b5"]]},{"id":"fc5427c2.88e408","type":"trigger","z":"35e89e6c.dc32d2","name":"","op1":"","op2":"go","op1type":"nul","op2type":"str","duration":"30","extend":false,"units":"s","reset":"ready","bytopic":"all","topic":"topic","outputs":1,"x":550,"y":1200,"wires":[["3f65515e.84ed26"]]},{"id":"cbffac39.04a91","type":"inject","z":"35e89e6c.dc32d2","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"20","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"health_check","payloadType":"str","x":280,"y":1240,"wires":[[]]},{"id":"13adac93.15e653","type":"inject","z":"35e89e6c.dc32d2","name":"","repeat":"","crontab":"","once":false,"onceDelay":"10","topic":"","payload":"ready","payloadType":"str","x":430,"y":1320,"wires":[["fc5427c2.88e408"]]},{"id":"b8d8f082.cc97f","type":"api-call-service","z":"35e89e6c.dc32d2","name":"send bernie text","server":"7592f570.572e1c","version":3,"service_domain":"notify","service":"mobile_app_bernie_phone","entityId":"","data":"{\"message\":\"Water Valve missing\"}","mergecontext":"","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":780,"y":1300,"wires":[[]]},{"id":"3f65515e.84ed26","type":"debug","z":"35e89e6c.dc32d2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":770,"y":1180,"wires":[]},{"id":"48c487b3.5fdbd","type":"inject","z":"35e89e6c.dc32d2","name":"","repeat":"","crontab":"","once":false,"onceDelay":"10","topic":"","payload":"sleeping","payloadType":"str","x":440,"y":1360,"wires":[["fc5427c2.88e408"]]},{"id":"607a56ad.5c7958","type":"debug","z":"1e649377.bdc225","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":330,"y":240,"wires":[]},{"id":"b87bec2c.6d16","type":"api-call-service","z":"2f4e3055.be1688","name":"","server":"7592f570.572e1c","version":3,"service_domain":"light","service":"","entityId":"","data":"[{\"data\":{\"entity_id\":\"light.tv_light\"},\"service\":\"light.turn_{{msg.payload}}\"}]","mergecontext":"","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":720,"y":300,"wires":[[]]},{"id":"11a55a98.fe6445","type":"api-call-service","z":"2f4e3055.be1688","name":"light on","server":"7592f570.572e1c","version":3,"service_domain":"","service":"","entityId":"","data":"{}","mergecontext":"","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":540,"y":360,"wires":[[]]},{"id":"2e168057.a50148","type":"template","z":"2f4e3055.be1688","name":"","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n  \"data\": {\n     \"entity_id\": \"switch.tpplug4\"\n  },\n  \"service\": \"turn_{{payload}}\",\n  \"domain\": \"switch\"\n}","output":"json","x":340,"y":360,"wires":[["a353006f.247a28","11a55a98.fe6445"]]},{"id":"b2a4de0a.a72fc8","type":"inject","z":"2f4e3055.be1688","name":"on","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":120,"y":360,"wires":[["2e168057.a50148","f261a168.74a43"]]},{"id":"a353006f.247a28","type":"debug","z":"2f4e3055.be1688","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":500,"y":400,"wires":[]},{"id":"f261a168.74a43","type":"debug","z":"2f4e3055.be1688","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":250,"y":420,"wires":[]},{"id":"5721901f.f38a08","type":"inject","z":"2f4e3055.be1688","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"off","payloadType":"str","x":110,"y":320,"wires":[["2e168057.a50148"]]},{"id":"29d6a011.2c4228","type":"template","z":"1e649377.bdc225","name":"","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n  \"data\": {\n     \"entity_id\": \"light.kitchen_light\"\n  },\n  \"service\": \"turn_{{payload}}\",\n  \"domain\": \"light\"\n}","output":"json","x":900,"y":260,"wires":[["8e0b2a7c.6aed8"]]},{"id":"8e0b2a7c.6aed8","type":"api-call-service","z":"1e649377.bdc225","name":"light on/off","server":"7592f570.572e1c","version":3,"debugenabled":false,"service_domain":"","service":"","entityId":"","data":"{}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":1070,"y":260,"wires":[[]]},{"id":"c4a26945.6e52b","type":"template","z":"1e649377.bdc225","name":"","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n  \"data\": {\n     \"entity_id\": \"light.bonus_room\"\n  },\n  \"service\": \"turn_{{payload}}\",\n  \"domain\": \"light\"\n}","output":"json","x":320,"y":180,"wires":[["23a4c6ed.0f35a2"]]},{"id":"23a4c6ed.0f35a2","type":"api-call-service","z":"1e649377.bdc225","name":"light on/off","server":"7592f570.572e1c","version":3,"service_domain":"","service":"","entityId":"","data":"{}","mergecontext":"","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":490,"y":180,"wires":[[]]},{"id":"eb2106d1.f7a28","type":"mqtt in","z":"8563241e.8ab948","name":"","topic":"stove/room/hum","qos":"2","datatype":"auto","broker":"9c98dbe9.6cd83","nl":false,"rap":false,"rh":"0","x":460,"y":400,"wires":[["22078562.b1ae2a"]]},{"id":"22078562.b1ae2a","type":"debug","z":"8563241e.8ab948","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":770,"y":400,"wires":[]},{"id":"3c71b6a8.8c0212","type":"delay","z":"9164e505.7cba8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"3","nbRateUnits":"1","rateUnits":"hour","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":110,"y":500,"wires":[["d108ac6f.f9319"]]},{"id":"2b883c10.e92fa4","type":"mqtt out","z":"8563241e.8ab948","name":"","topic":"shellies/shellyswitch25-BA7D6A/relay/1/command","qos":"","retain":"","broker":"9c98dbe9.6cd83","x":480,"y":740,"wires":[]},{"id":"eb63fe4c.2429a","type":"inject","z":"8563241e.8ab948","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"shellies/shellyswitch25-BA7D6A/relay/1/command","payload":"on","payloadType":"str","x":120,"y":760,"wires":[["2b883c10.e92fa4","e738b329.ea072"]]},{"id":"32672f48.5eeea","type":"mqtt in","z":"8563241e.8ab948","name":"","topic":"wallpannel/#","qos":"2","datatype":"auto","broker":"9c98dbe9.6cd83","x":630,"y":160,"wires":[["54b56727.008e28"]]},{"id":"5a852852.eae75","type":"amazon-echo-device","z":"1e649377.bdc225","name":"room bulbs","topic":"","x":170,"y":600,"wires":[["6e2ee054.4f4728"]]},{"id":"6e2ee054.4f4728","type":"template","z":"1e649377.bdc225","name":"","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n  \"data\": {\n     \"entity_id\": \"group.room_bulbs\"\n  },\n  \"service\": \"turn_{{payload}}\",\n  \"domain\": \"light\"\n}","output":"json","x":360,"y":600,"wires":[["28ea000b.14109"]]},{"id":"28ea000b.14109","type":"api-call-service","z":"1e649377.bdc225","name":"light on/off","server":"7592f570.572e1c","version":3,"service_domain":"","service":"","entityId":"","data":"{}","mergecontext":"","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":530,"y":600,"wires":[[]]},{"id":"8a18e350.17fe38","type":"server-state-changed","z":"982aa065.67e4b8","name":"barn wifi clients","server":"7592f570.572e1c","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.internets_barn_connected_clients","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":620,"y":380,"wires":[["17070136.ecfa87"]]},{"id":"c2431ae.1bc3b68","type":"traffic","z":"982aa065.67e4b8","name":"","property_allow":"payload","filter_allow":"3","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"[45]","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":true,"differ":false,"x":950,"y":300,"wires":[["e539d7b0.3ba368","b2951d91.f1e508","de4c977e.da50c"]]},{"id":"e177f012.76c718","type":"server-state-changed","z":"35e89e6c.dc32d2","name":"ext basement door","server":"7592f570.572e1c","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.exterior_basement_door","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":810,"y":140,"wires":[["e08ff7f7.611328"]]},{"id":"1f6e69d.5812716","type":"change","z":"35e89e6c.dc32d2","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":420,"wires":[[]]},{"id":"6677eb09.0a88f4","type":"debug","z":"982aa065.67e4b8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":430,"y":240,"wires":[]},{"id":"8c786ae9.c3013","type":"debug","z":"6e285611.d71298","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":310,"y":260,"wires":[]},{"id":"54d1495c.425548","type":"debug","z":"982aa065.67e4b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1030,"y":480,"wires":[]},{"id":"17070136.ecfa87","type":"switch","z":"982aa065.67e4b8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"regex","v":"[^unavailable]","vt":"str","case":false},{"t":"eq","v":"unavailable","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":790,"y":380,"wires":[["c2431ae.1bc3b68","8a1e46f5.8949d8"],["54d1495c.425548"]]},{"id":"38d75c04.abf16c","type":"comment","z":"982aa065.67e4b8","name":"filter out unavailable","info":"when eero had unavailable, it was triggering the notification.  using this switch to filter that out.  I also tried changing the state change node to ignore unavailable states","x":950,"y":360,"wires":[]},{"id":"8a1e46f5.8949d8","type":"debug","z":"982aa065.67e4b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1010,"y":400,"wires":[]},{"id":"3f8c8552.9a2ee2","type":"amazon-echo-device","z":"1e649377.bdc225","name":"Work","topic":"","x":90,"y":700,"wires":[["ea205a94.bb9c18"]]},{"id":"20102007.72429","type":"amazon-echo-device","z":"1e649377.bdc225","name":"play","topic":"","x":90,"y":760,"wires":[["4b5d638f.1728cc"]]},{"id":"ea205a94.bb9c18","type":"exec","z":"1e649377.bdc225","command":"ddcctl -d 2 -i 3;ddcctl -d 1 -i 16","addpay":false,"append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"","x":310,"y":700,"wires":[[],[],[]]},{"id":"4b5d638f.1728cc","type":"exec","z":"1e649377.bdc225","command":"ddcctl -d 2 -i 16;ddcctl -d 1 -i 18","addpay":false,"append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"","x":320,"y":760,"wires":[[],[],[]]},{"id":"71031a73.d4cd4c","type":"comment","z":"1e649377.bdc225","name":"Monitor inputs","info":"https://github.com/kfix/ddcctl\n\nusing this command line tool I installed with homebrew","x":180,"y":660,"wires":[]},{"id":"ff3bea50.62258","type":"amazon-echo-device","z":"1e649377.bdc225","name":"dim","topic":"","x":90,"y":820,"wires":[["435d438c.2834f4"]]},{"id":"435d438c.2834f4","type":"exec","z":"1e649377.bdc225","command":"ddcctl -d 2 -b 10;ddcctl -d 1 -b 10","addpay":false,"append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"","x":320,"y":820,"wires":[[],[],[]]},{"id":"a50e3b5e.330108","type":"exec","z":"1e649377.bdc225","command":"ddcctl -d 2 -b 50;ddcctl -d 1 -b 50","addpay":false,"append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"","x":320,"y":880,"wires":[[],[],[]]},{"id":"624fd3a.8ec462c","type":"amazon-echo-device","z":"1e649377.bdc225","name":"bright","topic":"","x":90,"y":880,"wires":[["a50e3b5e.330108"]]},{"id":"9d207451.425e98","type":"bigtimer","z":"16f2d4d6.d6132b","outtopic":"","outpayload1":"on","outpayload2":"off","name":"on at dusk","comment":"","lat":"41.74","lon":"-72.32","starttime":"5001","endtime":"5000","starttime2":0,"endtime2":0,"startoff":"1","endoff":0,"startoff2":"","endoff2":"","offs":0,"outtext1":"","outtext2":"","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"day7":"","month7":"","day8":"","month8":"","day9":"","month9":"","day10":"","month10":"","day11":"","month11":"","day12":"","month12":"","d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xday7":"","xmonth7":"","xday8":"","xmonth8":"","xday9":"","xmonth9":"","xday10":"","xmonth10":"","xday11":"","xmonth11":"","xday12":"","xmonth12":"","xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"randon1":false,"randoff1":false,"randon2":false,"randoff2":false,"repeat":false,"atstart":false,"odd":false,"even":false,"x":200,"y":480,"wires":[["22bce145.a6d18e","7acadbe7.1e330c"],[],["4e5050.71e7d7b"]]},{"id":"22bce145.a6d18e","type":"debug","z":"16f2d4d6.d6132b","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":420,"y":400,"wires":[]},{"id":"4e5050.71e7d7b","type":"debug","z":"16f2d4d6.d6132b","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":420,"y":560,"wires":[]},{"id":"33f0a8c0.ad3b78","type":"server-state-changed","z":"145f77f0.74d3f8","name":"basement_door","server":"7592f570.572e1c","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.ext_basement_door","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":200,"y":120,"wires":[[]]},{"id":"74def39389e4b6c3","type":"inject","z":"16f2d4d6.d6132b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":830,"y":420,"wires":[["77e912de.c8bf34"]]},{"id":"17774b126f013f81","type":"debug","z":"286b1096.bf92d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":380,"y":100,"wires":[]},{"id":"ee34e9208acb4cc0","type":"inject","z":"286b1096.bf92d","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"go","payloadType":"str","x":70,"y":380,"wires":[["898e2017.d3e84"]]},{"id":"fe4ded85e4e33c05","type":"server-state-changed","z":"1e649377.bdc225","name":"at work?","server":"7592f570.572e1c","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.work_monitors","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":80,"y":460,"wires":[["e877438031746b8b"]]},{"id":"e877438031746b8b","type":"switch","z":"1e649377.bdc225","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":70,"y":540,"wires":[["ea205a94.bb9c18"],["4b5d638f.1728cc"]]},{"id":"58ed8e238715c224","type":"api-call-service","z":"6e285611.d71298","name":"turn off kitchen fan","server":"7592f570.572e1c","version":3,"debugenabled":false,"service_domain":"fan","service":"turn_off","entityId":"fan.kitchen_fan","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":560,"y":260,"wires":[[]]},{"id":"6f135535f732daa4","type":"comment","z":"9164e505.7cba8","name":"added this to home assistant","info":"","x":300,"y":420,"wires":[]},{"id":"46e3ea7ec0db1397","type":"debug","z":"35e89e6c.dc32d2","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":620,"y":80,"wires":[]}]